USE [master]
GO
/****** Object:  Database [CorporateActionsISOFiles]    Script Date: 11/20/2024 6:32:15 PM ******/
CREATE DATABASE [CorporateActionsISOFiles]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CorporateActionsISOFiles', FILENAME = N'D:\SQLData\CorporateActionsISOFiles.mdf' , SIZE = 68608KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CorporateActionsISOFiles_log', FILENAME = N'D:\SQLData\CorporateActionsISOFiles_log.ldf' , SIZE = 4096KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CorporateActionsISOFiles].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CorporateActionsISOFiles]
GO
/****** Object:  User [SNB\Jacobg]    Script Date: 11/20/2024 6:32:15 PM ******/
CREATE USER [SNB\Jacobg] FOR LOGIN [SNB\Jacobg] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [SNB\Development Team]    Script Date: 11/20/2024 6:32:15 PM ******/
CREATE USER [SNB\Development Team] FOR LOGIN [SNB\Development Team]
GO
/****** Object:  DatabaseRole [db_executor]    Script Date: 11/20/2024 6:32:15 PM ******/
CREATE ROLE [db_executor]
GO
ALTER ROLE [db_owner] ADD MEMBER [SNB\Jacobg]
GO
ALTER ROLE [db_owner] ADD MEMBER [SNB\Development Team]
GO
/****** Object:  Table [dbo].[Action_Option_Cash_Payout]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Action_Option_Cash_Payout](
	[Action_Option_Cash_Payout_Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionId] [varchar](32) NULL,
	[CorporateActionReference] [varchar](16) NULL,
	[CAOptionNumber] [numeric](3, 0) NULL,
	[SuboptionSequence] [numeric](3, 0) NULL,
	[CreditDebitIndicator] [varchar](4) NULL,
	[TypeofIncome] [varchar](4) NULL,
	[OtherTypeofIncome] [varchar](4) NULL,
	[EntitledAmountCurrency] [varchar](3) NULL,
	[EntitledAmount] [decimal](30,15) NULL,
	[TaxRetentionAmountCurrency] [varchar](3) NULL,
	[TaxRetentionAmount] [decimal](30,15) NULL,
	[AdditionalTaxAmountCurrency] [varchar](3) NULL,
	[AdditionalTaxAmount] [decimal](30,15) NULL,
	[CapitalGainsAmountCurrency] [varchar](3) NULL,
	[CapitalGainsAmount] [decimal](30,15) NULL,
	[ChargesandFeesCurrency] [varchar](3) NULL,
	[ChargesandFeesAmount] [decimal](30,15) NULL,
	[CashInLieuSecurityCurrency] [varchar](3) NULL,
	[CashInLieuSecurityAmount] [decimal](30,15) NULL,
	[GrossDividendCode] [varchar](4) NULL,
	[GrossDividendCurrency] [varchar](3) NULL,
	[GrossDividendAmount] [decimal](30,15) NULL,
	[IndemnityCurrency] [varchar](3) NULL,
	[IndemnityAmount] [decimal](30,15) NULL,
	[InterestAmountCurrency] [varchar](3) NULL,
	[InterestAmount] [decimal](30,15) NULL,
	[MarketClaimCurrency] [varchar](3) NULL,
	[MarketClaimAmount] [decimal](30,15) NULL,
	[NetCashAmountCurrency] [varchar](3) NULL,
	[NetCashAmount] [decimal](30,15) NULL,
	[OriginalOrderedCurrency] [varchar](3) NULL,
	[OriginalOrderedAmount] [decimal](30,15) NULL,
	[RegulatoryFeesCurrency] [varchar](3) NULL,
	[RegulatoryFeesAmount] [decimal](30,15) NULL,
	[TaxCreditCurrency] [varchar](3) NULL,
	[TaxCreditAmount] [decimal](30,15) NULL,
	[TaxFreeCurrency] [varchar](3) NULL,
	[TaxFreeAmount] [decimal](30,15) NULL,
	[WithholdingTaxCurrency] [varchar](3) NULL,
	[WithholdingTaxAmount] [decimal](30,15) NULL,
	[WithholdingForeignTaxCurrency] [varchar](3) NULL,
	[WithholdingForeignTaxAmount] [decimal](30,15) NULL,
	[WithholdingLocalTaxCurrency] [varchar](3) NULL,
	[WithholdingLocalTaxAmount] [decimal](30,15) NULL,
	[TransactionTaxCurrency] [varchar](3) NULL,
	[TransactionTaxAmount] [decimal](30,15) NULL,
	[DeemedDividendCurrency] [varchar](3) NULL,
	[DeemedDividendAmount] [decimal](30,15) NULL,
	[DeemedFundCurrency] [varchar](3) NULL,
	[DeemedFundAmount] [decimal](30,15) NULL,
	[DeemedInterestCurrency] [varchar](3) NULL,
	[DeemedInterestAmount] [decimal](30,15) NULL,
	[FXRateFixingDate] [datetime] NULL,
	[EarlyDeadlineDate] [datetime] NULL,
	[PaymentDate] [datetime] NULL,
	[ValueDate] [datetime] NULL,
	[ChargeAndFeesCurrency] [varchar](3) NULL,
	[ChargeAndFeesAmount] [decimal](30,15) NULL,
	[ExchangeRateCurrencyA] [varchar](3) NULL,
	[ExchangeRateCurrencyB] [varchar](3) NULL,
	[ExchangeRate] [decimal](30,15) NULL,
	[CalculatedInterestRateCode] [varchar](3) NULL,
	[CalculatedInterest] [decimal](30,15) NULL,
	[NetDividendCode] [varchar](4) NULL,
	[NetDividendCurrency] [varchar](3) NULL,
	[NetDividendRate] [decimal](30,15) NULL,
	[ApplicableRateCode] [varchar](4) NULL,
	[ApplicableRate] [decimal](30,15) NULL,
	[SollicitationRateCode] [varchar](4) NULL,
	[SollicitationRate] [decimal](30,15) NULL,
	[WithHoldingTaxRateCode] [varchar](4) NULL,
	[WithHoldingTaxRate] [decimal](30,15) NULL,
	[CashPriceCode] [varchar](4) NULL,
	[CashPriceType] [varchar](4) NULL,
	[CashPriceCurrency] [varchar](3) NULL,
	[CashPriceAmount] [decimal](30,15) NULL,
	[OfferPriceCode] [varchar](4) NULL,
	[OfferPriceType] [varchar](4) NULL,
	[OfferPriceCurrency] [varchar](3) NULL,
	[OfferPriceAmount] [decimal](30,15) NULL,
	[CreationDate] [datetime] NULL,
	[ReceiptDate] [datetime] NULL,
	[ModificatioinDate] [datetime] NULL,
	[CancelationDate] [datetime] NULL,
	[CreatedBy] [varchar](35) NULL,
	[ModifiedBy] [varchar](35) NULL,
	[CancelledBy] [varchar](35) NULL,
 CONSTRAINT [PK_Action_Option_Cash_Payout] PRIMARY KEY CLUSTERED 
(
	[Action_Option_Cash_Payout_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Action_Option_Security_Movement]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Action_Option_Security_Movement](
	[Action_Option_Security_Movement_Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionId] [varchar](32) NULL,
	[CorporateActionReference] [varchar](16) NULL,
	[CAOptionNumber] [numeric](3, 0) NULL,
	[SuboptionSequence] [numeric](3, 0) NULL,
	[CreditDebitIndicator] [varchar](4) NULL,
	[TemporaryIndicator] [varchar](4) NULL,
	[NewSecuritiesIssuanceIndicator] [varchar](4) NULL,
	[NonEligibleProceedsIndicator] [varchar](4) NULL,
	[IssuerOfferorTaxabilityIndicator] [varchar](4) NULL,
	[TypeofIncome] [varchar](4) NULL,
	[OtherTypeofIncome] [varchar](4) NULL,
	[SecurityIdentifier] [varchar](12) NULL,
	[SecurityDescriptionL1] [varchar](35) NULL,
	[SecurityDescriptionL2] [varchar](35) NULL,
	[SecurityDescriptionL3] [varchar](35) NULL,
	[SecurityDescriptionL4] [varchar](35) NULL,
	[InternalsecurityID] [varchar](12) NULL,
	[MethodofInterestComputation] [varchar](10) NULL,
	[TypeofFinancialInstrument] [varchar](35) NULL,
	[OptionStyle] [varchar](4) NULL,
	[CurrencyDenomination] [varchar](4) NULL,
	[IssuePriceCode] [varchar](4) NULL,
	[IssuePriceType] [varchar](4) NULL,
	[IssuePriceCurrency] [varchar](3) NULL,
	[IssuePriceAmount] [decimal](30,15) NULL,
	[MinimumExQtyCode] [varchar](4) NULL,
	[MinimumExercisableQuantity] [decimal](15, 0) NULL,
	[MinimumLotQtyCode] [varchar](4) NULL,
	[MinimumExercisableMultipleLotQuantity] [decimal](15, 0) NULL,
	[MinimumNomtQtyCode] [varchar](4) NULL,
	[MinimumNominalQuantity] [decimal](15, 0) NULL,
	[PostingQuantityiCode] [varchar](4) NULL,
	[PostingQuantity] [decimal](15, 0) NULL,
	[PlaceOfSafekeepingCode] [varchar](4) NULL,
	[PlaceOfSafekeeping] [varchar](30) NULL,
	[DispositionOfFactionType] [varchar](8) NULL,
	[DispositionOfFactionCode] [varchar](4) NULL,
	[CashInLieuCode] [varchar](4) NULL,
	[CashInLieuType] [varchar](4) NULL,
	[CashInLieuCurrency] [varchar](3) NULL,
	[CashInLieuAmount] [decimal](30,15) NULL,
	[IndicativeMarketPriceCode] [varchar](4) NULL,
	[IndicativeMarketPriceType] [varchar](4) NULL,
	[IndicativeMarketPriceCurrency] [varchar](3) NULL,
	[IndicativeMarketPriceAmount] [decimal](30,15) NULL,
	[OldSecurityRate] [decimal](30,15) NULL,
	[NewSecurityRate] [decimal](30,15) NULL,
	[WithholdingTaxRateCode] [varchar](4) NULL,
	[WithholdingTaxRate] [decimal](30,15) NULL,
	[SecondLevelTaxRateCode] [varchar](4) NULL,
	[SecondLevelTaxRate] [decimal](30,15) NULL,
	[TransactionTaxRateCode] [varchar](4) NULL,
	[TransactionTaxRate] [decimal](30,15) NULL,
	[DividendRankingDate] [datetime] NULL,
	[PaymentDate] [datetime] NULL,
	[PariPassuDate] [datetime] NULL,
	[PaymentCurrency] [varchar](3) NULL,
	[PaymentAmount] [decimal](30,15) NULL,
	[CreationDate] [datetime] NULL,
	[ReceiptDate] [datetime] NULL,
	[ModificatioinDate] [datetime] NULL,
	[CancelationDate] [datetime] NULL,
	[CreatedBy] [varchar](35) NULL,
	[ModifiedBy] [varchar](35) NULL,
	[CancelledBy] [varchar](35) NULL,
 CONSTRAINT [PK_Action_Option_Security_Movement] PRIMARY KEY CLUSTERED 
(
	[Action_Option_Security_Movement_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Announcement_Event]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcement_Event](
	[TransactionId] [varchar](32) NOT NULL,
	[Message_ID] [varchar](16) NULL,
	[CorporateActionReference] [varchar](16) NULL,
	[OfficialCorporateActionReference] [varchar](16) NULL,
	[Depositary_ID] [varchar](16) NULL,
	[SenderBIC] [varchar](9) NULL,
	[ReceiverBic] [varchar](9) NULL,
	[Messagefunction] [varchar](4) NULL,
	[ProcStatusCode] [varchar](4) NULL,
	[Eventprocessingindicator] [varchar](4) NULL,
	[Mandatoryvoluntaryindicator] [varchar](4) NULL,
	[Eventtype] [varchar](4) NULL,
	[Prepdate] [datetime] NULL,
	[LinkedReferenceMessageType] [varchar](16) NULL,
	[LinkedReferenceCode] [varchar](16) NULL,
	[LinkedReferenceQualifier] [varchar](16) NULL,
	[LinkedReferenceId] [varchar](16) NULL,
	[LinkedCOAFId] [varchar](16) NULL,
	[SecurityIDType] [varchar](12) NULL,
	[SecurityIdentifier] [varchar](12) NULL,
	[SecurityDescription] [varchar](140) NULL,
	[InternalsecurityID] [varchar](12) NULL,
	[PlaceOfListingOrigin] [varchar](4) NULL,
	[PlaceOfListing] [varchar](35) NULL,
	[SafeKeepingAccount] [varchar](35) NULL,
	[SafekeepingAccountNumber] [varchar](35) NULL,
	[PlaceOfSafekeepingCode] [varchar](4) NULL,
	[PlaceOfSafekeeping] [varchar](30) NULL,
	[EligibleBalanceQtyType] [varchar](8) NULL,
	[EligibleBalanceQtyCode] [varchar](4) NULL,
	[TotalEligibleBalance] [decimal](15, 0) NULL,
	[AnnouncementDate] [datetime] NULL,
	[CertificationDeadlineDate] [datetime] NULL,
	[EffectiveDate] [datetime] NULL,
	[FurtherDetailedAnnouncementDate] [datetime] NULL,
	[LotteryDate] [datetime] NULL,
	[AnnMaturityDate] [datetime] NULL,
	[MeetingDate] [datetime] NULL,
	[PaymentDate] [datetime] NULL,
	[RecordDate] [datetime] NULL,
	[ExDate] [datetime] NULL,
	[MaximumPriceType] [varchar](8) NULL,
	[MaximumPriceAmountTypeCode] [varchar](8) NULL,
	[MaximumPriceCurrency] [varchar](3) NULL,
	[MaximumPriceAmount] [decimal](30,15) NULL,
	[MinimumPriceType] [varchar](8) NULL,
	[MinimumPriceAmountTypeCode] [varchar](8) NULL,
	[MinimumPriceCurrency] [varchar](3) NULL,
	[MinimumPriceAmount] [decimal](30,15) NULL,
	[ProRationRate] [decimal](15, 0) NULL,
	[WithholdingTaxRate] [decimal](15, 0) NULL,
	[WithholdingofLocalTax] [decimal](15, 0) NULL,
	[CurrentTransactionId] [varchar](32),
	[MessageStatus] [varchar](10) NULL,
	[CreationDate] [datetime] NULL,
	[ReceiptDate] [datetime] NULL,
	[ModificatioinDate] [datetime] NULL,
	[CancelationDate] [datetime] NULL,
	[CreatedBy] [varchar](35) NULL,
	[ModifiedBy] [varchar](35) NULL,
	[CancelledBy] [varchar](35) NULL,
 CONSTRAINT [PK_Announcement_Event] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Announcement_EventOption]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcement_EventOption](
	[Announcement_EventOptionID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionId] [varchar](32) NULL,
	[CorporateActionReference] [varchar](16) NULL,
	[CAOptionNumber] [numeric](3, 0) NULL,
	[CAOptionCode] [varchar](4) NULL,
	[OptionFeatures] [varchar](4) NULL,
	[DispositionofFractions] [varchar](4) NULL,
	[OfferType] [varchar](4) NULL,
	[CountryofNONDomicile] [varchar](2) NULL,
	[CurrencyOption] [varchar](4) NULL,
	[DefaultProcessingFlag] [varchar](1) NULL,
	[ExpirationDate] [datetime] NULL,
	[LastTradingDate_Time] [datetime] NULL,
	[MarketDeadlineDate] [datetime] NULL,
	[ResponseDeadlineDate] [datetime] NULL,
	[EndofSecuritiesBlockingPeriod] [datetime] NULL,
	[PeriodofActionStartDate] [datetime] NULL,
	[PeriodofActionEndDate] [datetime] NULL,
	[PriceCalculationPeriodStartDate] [datetime] NULL,
	[PriceCalculationPeriodEndDate] [datetime] NULL,
	[GrossDividendTypeCode] [varchar](4) NULL,
	[GrossDividendStatusCode] [varchar](4) NULL,
	[GrossDividendRateCurrency] [varchar](3) NULL,
	[GrossDividendRate] [numeric](31, 15) NULL,
	[CalculatedInterestRateTypeCode] [varchar](8) NULL,
	[CalculatedInterestStatusCode] [varchar](4) NULL,
	[CalculatedInterestRateCurrency] [varchar](3) NULL,
	[CalculatedInterestRate] [numeric]](31, 15) NULL,
	[WithholdingTaxRateTypeCode] [varchar](4) NULL,
	[WithholdingTaxRateStatusCode] [varchar](8) NULL,
	[WithholdingRateCurrency] [varchar](3) NULL,
	[WithholdingTaxRate] [numeric]](31, 15) NULL,
	[CashInLieuPriceType] [varchar](8) NULL,
	[CashInLieuAmountTypeCode] [varchar](8) NULL,
	[CashInLieuofSharesPriceCurrency] [varchar](3) NULL,
	[CashInLieuofSharesPriceValue] [numeric]](31, 15) NULL,
	[MaximumPriceType] [varchar](8) NULL,
	[MaximumPriceAmountTypeCode] [varchar](8) NULL,
	[MaximumPriceCurrency] [varchar](3) NULL,
	[MaximumPriceAmount] [numeric]](31, 15) NULL,
	[MinimumPriceType] [varchar](8) NULL,
	[MinimumPriceAmountTypeCode] [varchar](8) NULL,
	[MinimumPriceCurrency] [varchar](3) NULL,
	[MinimumPriceAmount] [numeric]](31, 15) NULL,
	[MinimumInstructQtyType] [varchar](4) NULL,
	[MinimumInstructQtyCode] [varchar](8) NULL,
	[MinimumInstructQty] [numeric]](31, 15) NULL,
	[MinimumMultipleInstructQtyType] [varchar](4) NULL,
	[MinimumMultipleInstructQtyCode] [varchar](8) NULL,
	[MinimumMultipleInstructQty] [numeric]](31, 15) NULL,
	[CreationDate] [datetime] NULL,
	[ReceiptDate] [datetime] NULL,
	[ModificatioinDate] [datetime] NULL,
	[CancelationDate] [datetime] NULL,
	[CreatedBy] [varchar](35) NULL,
	[ModifiedBy] [varchar](35) NULL,
	[CancelledBy] [varchar](35) NULL,
 CONSTRAINT [PK_AnnouncementEventOption] PRIMARY KEY CLUSTERED 
(
	[Announcement_EventOptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client_Eligibility]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client_Eligibility](
	[ClientID] [varchar](3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client_Security_Relationship]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client_Security_Relationship](
	[ClientID] [varchar](3) NULL,
	[SecurityID] [varchar](3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Financial_Instrument]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Financial_Instrument](
	[SecurityID] [varchar](3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Narratives]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Narratives](
	[Narrative_Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionId] [varchar](32) NULL,
	[Message_ID] [varchar](16) NULL,
	[MessageType] [varchar](3) NULL,
	[CorporateActionReference] [varchar](16) NULL,
	[CAOptionNumber] [numeric](3, 0) NULL,
	[SuboptionSequence] [numeric](3, 0) NULL,
	[SequenceLevel] [varchar](16) NULL,
	[NarrativeType] [varchar](16) NULL,
	[NarrativeCode] [varchar](16) NULL,
	[NarrativesText] [varchar](max) NULL,
	[CreationDate] [datetime] NULL,
	[ReceiptDate] [datetime] NULL,
	[ModificatioinDate] [datetime] NULL,
	[CancelationDate] [datetime] NULL,
	[CreatedBy] [varchar](35) NULL,
	[ModifiedBy] [varchar](35) NULL,
	[CancelledBy] [varchar](35) NULL,
 CONSTRAINT [PK_Narratives] PRIMARY KEY CLUSTERED 
(
	[Narrative_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Option_Prices]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Option_Prices](
	[TransactionId] [varchar](32) NULL,
	[CAOptionNumber] [numeric](3, 0) NULL,
	[Suboption_Sequence] [numeric](3, 0) NULL,
	[PriceQualifier] [numeric](31, 15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Options_Rates]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Options_Rates](
	[TransactionId] [[varchar](32) NULL,
	[CAOptionNUMERIC] [numeric](3, 0) NULL,
	[Suboption_Sequence] [numeric](3, 0) NULL,
	[RateQualifier] [numeric](4, 0) NULL,
	[RateAmount] [numeric](31, 15) NULL,
	[RateCurrency] [varchar](3) NULL,
	[RateType] [varchar](4) NULL,
	[RateStatusCode] [varchar](4) NULL,
	[BaseQuantity] [numeric](31, 15) NULL,
	[DisburseQuantity] [numeric](31, 15) NULL,
	[CurrencyCode1] [varchar](3) NULL,
	[CurrencyCode2] [varchar](3) NULL,
	[BaseEqualAmount] [numeric](31, 15) NULL,
	[BaseEqualCurrency] [varchar](3) NULL,
	[DisburseAmount] [numeric](31, 15) NULL,
	[DisburseCurrency] [varchar](3) NULL,
	[Amount] [numeric](31, 15) NULL,
	[CreationDate] [date] NULL,
	[ReceiptDate] [date] NULL,
	[ModificatioinDate] [date] NULL,
	[CancelationDate] [date] NULL,
	[CreatedBy] [varchar](35) NULL,
	[ModifiedBy] [varchar](35) NULL,
	[CancelledBy] [varchar](35) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Security_Relationship]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Security_Relationship](
	[ClientID] [varchar](3) NULL,
	[SecurityID] [varchar](3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Swift_Code]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Swift_Code](
	[Code] [varchar](16) NOT NULL,
	[SwiftQualifier] [varchar](16) NULL,
	[BusinessName] [varchar](32) NULL,
	[Description] [varchar](70) NULL,
	[XMLTagName] [varchar](64) NULL,
	[Status] [varchar](10) NULL,
	[MappingRuleClassFactory] [varchar](64) NULL,
	[CreationDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CancelationDate] [datetime] NULL,
	[CreatedBy] [varchar](35) NULL,
	[UpdatedBy] [varchar](35) NULL,
	[CanceledBy] [varchar](35) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Swift_Message]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Swift_Message](
	[Message_ID] [varchar](16) NOT NULL,
	[MessageType] [varchar](3) NULL,
	[SenderBIC] [varchar](9) NULL,
	[Depositary_ID] [varchar](16) NULL,
	[CorporateActionReference] [varchar](16) NULL,
	[Messagefunction] [varchar](4) NULL,
	[ProcStatusCode] [varchar](4) NULL,
	[Mandatoryvoluntaryindicator] [varchar](4) NULL,
	[Eventtype] [varchar](4) NULL,
	[SwiftMessage] [varchar](max) NULL,
	[SwiftMessageFileName] [varchar](128) NULL,
	[Status] [varchar](10) NULL,
	[ErrorType] [varchar](16) NULL,
	[ErrorReason] [varchar](256) NULL,
	[ReceiptDate] [datetime] NULL,
	[CreationDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CancelationDate] [datetime] NULL,
	[CreatedBy] [varchar](35) NULL,
	[UpdatedBy] [varchar](35) NULL,
	[CanceledBy] [varchar](35) NULL,
 CONSTRAINT [PK_Swift_Message] PRIMARY KEY CLUSTERED 
(
	[Message_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Swift_Qualifier]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Swift_Qualifier](
	[QualifierCode] [varchar](16) NOT NULL,
	[QualifierName] [varchar](32) NULL,
	[QualifierDescription] [varchar](70) NULL,
	[TagID] [varchar](3) NULL,
	[XmlCode] [varchar](32) NULL,
	[Status] [varchar](10) NULL,
	[CreationDatetion] [date] NULL,
	[UpdatedDate] [date] NULL,
	[CancelationDate] [date] NULL,
	[CreatedBy] [varchar](35) NULL,
	[UpdatedBy] [varchar](35) NULL,
	[CanceledBy] [varchar](35) NULL,
 CONSTRAINT [PK_Swift_Qualifier] PRIMARY KEY CLUSTERED 
(
	[QualifierCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Swift_Rule]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Swift_Rule](
	[TagID] [varchar](3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Swift_Tag]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Swift_Tag](
	[TagID] [varchar](3) NOT NULL,
	[TagGroup] [varchar](3) NULL,
	[TagName] [varchar](70) NULL,
	[BusinessName] [varchar](64) NULL,
	[Description] [varchar](64) NULL,
	[XmLTagName] [varchar](32) NULL,
	[XmLPath] [varchar](32) NULL,
	[TagFormat] [varchar](32) NULL,
	[TagStructure] [varchar](64) NULL,
	[TagFactoryParsingRule] [varchar](32) NULL,
	[TagFactoryBusinessRule] [varchar](32) NULL,
 CONSTRAINT [PK_Swift_Tag] PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Action_Option_Cash_Payout]  WITH CHECK ADD  CONSTRAINT [FK_Action_Option_Cash_Payout_Announcement_Event] FOREIGN KEY([TransactionId])
REFERENCES [dbo].[Announcement_Event] ([TransactionId])
GO
ALTER TABLE [dbo].[Action_Option_Cash_Payout] CHECK CONSTRAINT [FK_Action_Option_Cash_Payout_Announcement_Event]
GO
ALTER TABLE [dbo].[Action_Option_Security_Movement]  WITH CHECK ADD  CONSTRAINT [FK_Action_Option_Security_Movement_Announcement_Event] FOREIGN KEY([TransactionId])
REFERENCES [dbo].[Announcement_Event] ([TransactionId])
GO
ALTER TABLE [dbo].[Action_Option_Security_Movement] CHECK CONSTRAINT [FK_Action_Option_Security_Movement_Announcement_Event]
GO
ALTER TABLE [dbo].[Announcement_Event]  WITH CHECK ADD  CONSTRAINT [FK_Announcement_Event_Swift_Message] FOREIGN KEY([Message_ID])
REFERENCES [dbo].[Swift_Message] ([Message_ID])
GO
ALTER TABLE [dbo].[Announcement_Event] CHECK CONSTRAINT [FK_Announcement_Event_Swift_Message]
GO
ALTER TABLE [dbo].[Announcement_EventOption]  WITH CHECK ADD  CONSTRAINT [FK_Announcement_EventOption_Announcement_Event] FOREIGN KEY([TransactionId])
REFERENCES [dbo].[Announcement_Event] ([TransactionId])
GO
ALTER TABLE [dbo].[Announcement_EventOption] CHECK CONSTRAINT [FK_Announcement_EventOption_Announcement_Event]
GO
/*
ALTER TABLE [dbo].[Narratives]  WITH CHECK ADD  CONSTRAINT [FK_Narratives_Announcement_Event] FOREIGN KEY([TransactionId])
REFERENCES [dbo].[Announcement_Event] ([TransactionId])
GO
ALTER TABLE [dbo].[Narratives] CHECK CONSTRAINT [FK_Narratives_Announcement_Event]
GO
*/
ALTER TABLE [dbo].[Swift_Qualifier]  WITH CHECK ADD  CONSTRAINT [FK_Swift_Qualifier_Swift_Tag] FOREIGN KEY([TagID])
REFERENCES [dbo].[Swift_Tag] ([TagID])
GO
ALTER TABLE [dbo].[Swift_Qualifier] CHECK CONSTRAINT [FK_Swift_Qualifier_Swift_Tag]
GO
ALTER TABLE [dbo].[Announcement_Event]  WITH CHECK ADD  CONSTRAINT [CK_Announcement_Event_PlaceOfListingOrigin] CHECK  (([PlaceOfListingOrigin]='SECM' OR [PlaceOfListingOrigin]='PRIM' OR [PlaceOfListingOrigin]='OTCO' OR [PlaceOfListingOrigin]='EXCH'))
GO
ALTER TABLE [dbo].[Announcement_Event] CHECK CONSTRAINT [CK_Announcement_Event_PlaceOfListingOrigin]
GO
ALTER TABLE [dbo].[Narratives]  WITH CHECK ADD  CONSTRAINT [CK_Narratives_SequenceLevel] CHECK  (([SequenceLevel]='ADDINFO' OR [SequenceLevel]='CAOPTN' OR [SequenceLevel]='CAEDTL'))
GO
ALTER TABLE [dbo].[Narratives] CHECK CONSTRAINT [CK_Narratives_SequenceLevel]
GO
ALTER TABLE [dbo].[Swift_Message]  WITH CHECK ADD  CONSTRAINT [CK_Swift_Message_MessageType] CHECK  (([MessageType]='568' OR [MessageType]='564'))
GO
ALTER TABLE [dbo].[Swift_Message] CHECK CONSTRAINT [CK_Swift_Message_MessageType]
GO
/****** Object:  StoredProcedure [dbo].[sp_get_storeprocedure_parameters]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_get_storeprocedure_parameters]
  @sp_name VARCHAR(100) = NULL
AS
  IF @sp_name IS NULL
  BEGIN
    RETURN (1)
  END
  IF NOT EXISTS
  (
         SELECT *
         FROM   sys.procedures
         WHERE  NAME = @sp_name )
  BEGIN
    RETURN(2)
  END
  SELECT     'ParameterName' = a.NAME,
             'ParameterType' = type_name(a.user_type_id),
             'ParameterLength' = a.max_length,
             'ParameterPrec' =
             CASE
                        WHEN type_name(a.system_type_id) = 'uniqueidentifier' THEN PRECISION
                        ELSE odbcprec( a.system_type_id, a.max_length, a.PRECISION )
             END,
             'ParameterScale' = odbcscale(a.system_type_id, a.scale),
             'ParameterMode' =     b.parameter_mode,
             'ParameterPosition' = b.ordinal_position,
             'ParameterIsResult' = b.is_result,
             'ParameterCollation' = CONVERT( sysname,
             CASE
                        WHEN a.system_type_id IN (35,
                                                  99,
                                                  167,
                                                  175,
                                                  231,
                                                  239) THEN serverproperty('collation')
             END )
  FROM       sys.parameters a
  INNER JOIN information_schema.parameters b
  ON         specific_name = object_name(object_id)
  AND        b.parameter_name = a.NAME
  WHERE      object_id = object_id(@sp_name)
  IF @@ERROR <> 0
  BEGIN
    RETURN (3)
  END
  ELSE
  BEGIN
    RETURN (0)
  END
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_Action_Option_Cash_Payout]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[sp_insert_Action_Option_Cash_Payout]
(
	@Action_Option_Cash_Payout_Id as int,
	@TransactionId as varchar(32),
	@CorporateActionReference as varchar(16) = Null,
	@CAOptionNumber as numeric = Null,
	@SuboptionSequence as numeric = Null,
	@CreditDebitIndicator as varchar(4) = Null,
	@TypeofIncome as varchar(4) = Null,
	@OtherTypeofIncome as varchar(4) = Null,
	@EntitledAmountCurrency as varchar(3) = Null,
	@EntitledAmount as decimal (30,15) = Null,
	@TaxRetentionAmountCurrency as varchar(3) = Null,
	@TaxRetentionAmount as decimal (30,15) = Null,
	@AdditionalTaxAmountCurrency as varchar(3) = Null,
	@AdditionalTaxAmount as decimal (30,15) = Null,
	@CapitalGainsAmountCurrency as varchar(3) = Null,
	@CapitalGainsAmount as decimal (30,15) = Null,
	@ChargesandFeesCurrency as varchar(3) = Null,
	@ChargesandFeesAmount as decimal (30,15) = Null,
	@CashInLieuSecurityCurrency as varchar(3) = Null,
	@CashInLieuSecurityAmount as decimal (30,15) = Null,
	@GrossDividendCode as varchar(4) = Null,
	@GrossDividendCurrency as varchar(3) = Null,
	@GrossDividendAmount as decimal (30,15) = Null,
	@IndemnityCurrency as varchar(3) = Null,
	@IndemnityAmount as decimal (30,15) = Null,
	@InterestAmountCurrency as varchar(3) = Null,
	@InterestAmount as decimal (30,15) = Null,
	@MarketClaimCurrency as varchar(3) = Null,
	@MarketClaimAmount as decimal (30,15) = Null,
	@NetCashAmountCurrency as varchar(3) = Null,
	@NetCashAmount as decimal (30,15) = Null,
	@OriginalOrderedCurrency as varchar(3) = Null,
	@OriginalOrderedAmount as decimal (30,15) = Null,
	@RegulatoryFeesCurrency as varchar(3) = Null,
	@RegulatoryFeesAmount as decimal (30,15) = Null,
	@TaxCreditCurrency as varchar(3) = Null,
	@TaxCreditAmount as decimal (30,15) = Null,
	@TaxFreeCurrency as varchar(3) = Null,
	@TaxFreeAmount as decimal (30,15) = Null,
	@WithholdingTaxCurrency as varchar(3) = Null,
	@WithholdingTaxAmount as decimal (30,15) = Null,
	@WithholdingForeignTaxCurrency as varchar(3) = Null,
	@WithholdingForeignTaxAmount as decimal (30,15) = Null,
	@WithholdingLocalTaxCurrency as varchar(3) = Null,
	@WithholdingLocalTaxAmount as decimal (30,15) = Null,
	@TransactionTaxCurrency as varchar(3) = Null,
	@TransactionTaxAmount as decimal (30,15) = Null,
	@DeemedDividendCurrency as varchar(3) = Null,
	@DeemedDividendAmount as decimal (30,15) = Null,
	@DeemedFundCurrency as varchar(3) = Null,
	@DeemedFundAmount as decimal (30,15) = Null,
	@DeemedInterestCurrency as varchar(3) = Null,
	@DeemedInterestAmount as decimal (30,15) = Null,
	@FXRateFixingDate as datetime = Null,
	@EarlyDeadlineDate as datetime = Null,
	@PaymentDate as datetime = Null,
	@ValueDate as datetime = Null,
	@ChargeAndFeesCurrency as varchar(3) = Null,
	@ChargeAndFeesAmount as decimal (30,15) = Null,
	@ExchangeRateCurrencyA as varchar(3) = Null,
	@ExchangeRateCurrencyB as varchar(3) = Null,
	@ExchangeRate as decimal (30,15) = Null,
	@CalculatedInterestRateCode as varchar(3) = Null,
	@CalculatedInterest as decimal (30,15) = Null,
	@NetDividendCode as varchar(4) = Null,
	@NetDividendCurrency as varchar(3) = Null,
	@NetDividendRate as decimal (30,15) = Null,
	@ApplicableRateCode as varchar(4) = Null,
	@ApplicableRate as decimal (30,15) = Null,
	@SollicitationRateCode as varchar(4) = Null,
	@SollicitationRate as decimal (30,15) = Null,
	@WithHoldingTaxRateCode as varchar(4) = Null,
	@WithHoldingTaxRate as decimal (30,15) = Null,
	@CashPriceCode as varchar(4) = Null,
	@CashPriceType as varchar(4) = Null,
	@CashPriceCurrency as varchar(3) = Null,
	@CashPriceAmount as decimal (30,15) = Null,
	@OfferPriceCode as varchar(4) = Null,
	@OfferPriceType as varchar(4) = Null,
	@OfferPriceCurrency as varchar(3) = Null,
	@OfferPriceAmount as decimal (30,15) = Null,
	@CreationDate as datetime = Null,
	@ReceiptDate as datetime = Null,
	@ModificatioinDate as datetime = Null,
	@CancelationDate as datetime = Null,
	@CreatedBy as varchar(35) = Null,
	@ModifiedBy as varchar(35) = Null,
	@CancelledBy as varchar(35) = Null

)
AS

begin transaction

	begin try

		-- insert
			insert [dbo].[Action_Option_Cash_Payout] (
				Action_Option_Cash_Payout_Id,
				TransactionId,
				CorporateActionReference,
				CAOptionNumber,
				SuboptionSequence,
				CreditDebitIndicator,
				TypeofIncome,
				OtherTypeofIncome,
				EntitledAmountCurrency,
				EntitledAmount,
				TaxRetentionAmountCurrency,
				TaxRetentionAmount,
				AdditionalTaxAmountCurrency,
				AdditionalTaxAmount,
				CapitalGainsAmountCurrency,
				CapitalGainsAmount,
				ChargesandFeesCurrency,
				ChargesandFeesAmount,
				CashInLieuSecurityCurrency,
				CashInLieuSecurityAmount,
				GrossDividendCode,
				GrossDividendCurrency,
				GrossDividendAmount,
				IndemnityCurrency,
				IndemnityAmount,
				InterestAmountCurrency,
				InterestAmount,
				MarketClaimCurrency,
				MarketClaimAmount,
				NetCashAmountCurrency,
				NetCashAmount,
				OriginalOrderedCurrency,
				OriginalOrderedAmount,
				RegulatoryFeesCurrency,
				RegulatoryFeesAmount,
				TaxCreditCurrency,
				TaxCreditAmount,
				TaxFreeCurrency,
				TaxFreeAmount,
				WithholdingTaxCurrency,
				WithholdingTaxAmount,
				WithholdingForeignTaxCurrency,
				WithholdingForeignTaxAmount,
				WithholdingLocalTaxCurrency,
				WithholdingLocalTaxAmount,
				TransactionTaxCurrency,
				TransactionTaxAmount,
				DeemedDividendCurrency,
				DeemedDividendAmount,
				DeemedFundCurrency,
				DeemedFundAmount,
				DeemedInterestCurrency,
				DeemedInterestAmount,
				FXRateFixingDate,
				EarlyDeadlineDate,
				PaymentDate,
				ValueDate,
				ChargeAndFeesCurrency,
				ChargeAndFeesAmount,
				ExchangeRateCurrencyA,
				ExchangeRateCurrencyB,
				ExchangeRate,
				CalculatedInterestRateCode,
				CalculatedInterest,
				NetDividendCode,
				NetDividendCurrency,
				NetDividendRate,
				ApplicableRateCode,
				ApplicableRate,
				SollicitationRateCode,
				SollicitationRate,
				WithHoldingTaxRateCode,
				WithHoldingTaxRate,
				CashPriceCode,
				CashPriceType,
				CashPriceCurrency,
				CashPriceAmount,
				OfferPriceCode,
				OfferPriceType,
				OfferPriceCurrency,
				OfferPriceAmount,
				CreationDate,
				ReceiptDate,
				ModificatioinDate,
				CancelationDate,
				CreatedBy,
				ModifiedBy,
				CancelledBy)
			values (
				@Action_Option_Cash_Payout_Id,
				@TransactionId,
				@CorporateActionReference,
				@CAOptionNumber,
				@SuboptionSequence,
				@CreditDebitIndicator,
				@TypeofIncome,
				@OtherTypeofIncome,
				@EntitledAmountCurrency,
				@EntitledAmount,
				@TaxRetentionAmountCurrency,
				@TaxRetentionAmount,
				@AdditionalTaxAmountCurrency,
				@AdditionalTaxAmount,
				@CapitalGainsAmountCurrency,
				@CapitalGainsAmount,
				@ChargesandFeesCurrency,
				@ChargesandFeesAmount,
				@CashInLieuSecurityCurrency,
				@CashInLieuSecurityAmount,
				@GrossDividendCode,
				@GrossDividendCurrency,
				@GrossDividendAmount,
				@IndemnityCurrency,
				@IndemnityAmount,
				@InterestAmountCurrency,
				@InterestAmount,
				@MarketClaimCurrency,
				@MarketClaimAmount,
				@NetCashAmountCurrency,
				@NetCashAmount,
				@OriginalOrderedCurrency,
				@OriginalOrderedAmount,
				@RegulatoryFeesCurrency,
				@RegulatoryFeesAmount,
				@TaxCreditCurrency,
				@TaxCreditAmount,
				@TaxFreeCurrency,
				@TaxFreeAmount,
				@WithholdingTaxCurrency,
				@WithholdingTaxAmount,
				@WithholdingForeignTaxCurrency,
				@WithholdingForeignTaxAmount,
				@WithholdingLocalTaxCurrency,
				@WithholdingLocalTaxAmount,
				@TransactionTaxCurrency,
				@TransactionTaxAmount,
				@DeemedDividendCurrency,
				@DeemedDividendAmount,
				@DeemedFundCurrency,
				@DeemedFundAmount,
				@DeemedInterestCurrency,
				@DeemedInterestAmount,
				@FXRateFixingDate,
				@EarlyDeadlineDate,
				@PaymentDate,
				@ValueDate,
				@ChargeAndFeesCurrency,
				@ChargeAndFeesAmount,
				@ExchangeRateCurrencyA,
				@ExchangeRateCurrencyB,
				@ExchangeRate,
				@CalculatedInterestRateCode,
				@CalculatedInterest,
				@NetDividendCode,
				@NetDividendCurrency,
				@NetDividendRate,
				@ApplicableRateCode,
				@ApplicableRate,
				@SollicitationRateCode,
				@SollicitationRate,
				@WithHoldingTaxRateCode,
				@WithHoldingTaxRate,
				@CashPriceCode,
				@CashPriceType,
				@CashPriceCurrency,
				@CashPriceAmount,
				@OfferPriceCode,
				@OfferPriceType,
				@OfferPriceCurrency,
				@OfferPriceAmount,
				@CreationDate,
				@ReceiptDate,
				@ModificatioinDate,
				@CancelationDate,
				@CreatedBy,
				@ModifiedBy,
				@CancelledBy)

		-- Return the new ID
		select SCOPE_IDENTITY();

		commit transaction

	end try

	begin catch

		declare @ErrorMessage NVARCHAR(4000);
		declare @ErrorSeverity INT;
		declare @ErrorState INT;

		select @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();

		raiserror (@ErrorMessage, @ErrorSeverity, @ErrorState);

		rollback transaction

	end catch;
				



GO
/****** Object:  StoredProcedure [dbo].[sp_insert_Action_Option_Security_Movement]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[sp_insert_Action_Option_Security_Movement]
(
	@Action_Option_Security_Movement_Id as int,
	@TransactionId as varchar(32) = Null,
	@CorporateActionReference as varchar(16) = Null,
	@CAOptionNumber as numeric = Null,
	@SuboptionSequence as numeric = Null,
	@CreditDebitIndicator as varchar(4) = Null,
	@TemporaryIndicator as varchar(4) = Null,
	@NewSecuritiesIssuanceIndicator as varchar(4) = Null,
	@NonEligibleProceedsIndicator as varchar(4) = Null,
	@IssuerOfferorTaxabilityIndicator as varchar(4) = Null,
	@TypeofIncome as varchar(4) = Null,
	@OtherTypeofIncome as varchar(4) = Null,
	@SecurityIdentifier as varchar(12) = Null,
	@SecurityDescriptionL1 as varchar(35) = Null,
	@SecurityDescriptionL2 as varchar(35) = Null,
	@SecurityDescriptionL3 as varchar(35) = Null,
	@SecurityDescriptionL4 as varchar(35) = Null,
	@InternalsecurityID as varchar(12) = Null,
	@MethodofInterestComputation as varchar(10) = Null,
	@TypeofFinancialInstrument as varchar(35) = Null,
	@OptionStyle as varchar(4) = Null,
	@CurrencyDenomination as varchar(4) = Null,
	@IssuePriceCode as varchar(4) = Null,
	@IssuePriceType as varchar(4) = Null,
	@IssuePriceCurrency as varchar(3) = Null,
	@IssuePriceAmount as decimal (30,15) = Null,
	@MinimumExQtyCode as varchar(4) = Null,
	@MinimumExercisableQuantity as decimal (30,15) = Null,
	@MinimumLotQtyCode as varchar(4) = Null,
	@MinimumExercisableMultipleLotQuantity as decimal (30,15) = Null,
	@MinimumNomtQtyCode as varchar(4) = Null,
	@MinimumNominalQuantity as decimal (30,15) = Null,
	@PostingQuantityiCode as varchar(4) = Null,
	@PostingQuantity as decimal (30,15) = Null,
	@PlaceOfSafekeepingCode as varchar(4) = Null,
	@PlaceOfSafekeeping as varchar(30) = Null,
	@DispositionOfFactionType as varchar(8) = Null,
	@DispositionOfFactionCode as varchar(4) = Null,
	@CashInLieuCode as varchar(4) = Null,
	@CashInLieuType as varchar(4) = Null,
	@CashInLieuCurrency as varchar(3) = Null,
	@CashInLieuAmount as decimal (30,15) = Null,
	@IndicativeMarketPriceCode as varchar(4) = Null,
	@IndicativeMarketPriceType as varchar(4) = Null,
	@IndicativeMarketPriceCurrency as varchar(3) = Null,
	@IndicativeMarketPriceAmount as decimal (30,15) = Null,
	@OldSecurityRate as decimal (30,15) = Null,
	@NewSecurityRate as decimal (30,15) = Null,
	@WithholdingTaxRateCode as varchar(4) = Null,
	@WithholdingTaxRate as decimal (30,15) = Null,
	@SecondLevelTaxRateCode as varchar(4) = Null,
	@SecondLevelTaxRate as decimal (30,15) = Null,
	@TransactionTaxRateCode as varchar(4) = Null,
	@TransactionTaxRate as decimal (30,15) = Null,
	@DividendRankingDate as datetime = Null,
	@PaymentDate as datetime = Null,
	@PariPassuDate as datetime = Null,
	@PaymentCurrency as varchar(3) = Null,
	@PaymentAmount as decimal (30,15) = Null,
	@CreationDate as datetime = Null,
	@ReceiptDate as datetime = Null,
	@ModificatioinDate as datetime = Null,
	@CancelationDate as datetime = Null,
	@CreatedBy as varchar(35) = Null,
	@ModifiedBy as varchar(35) = Null,
	@CancelledBy as varchar(35) = Null

)
AS

begin transaction

	begin try

		-- insert
			insert [dbo].[Action_Option_Security_Movement] (
				Action_Option_Security_Movement_Id,
				TransactionId,
				CorporateActionReference,
				CAOptionNumber,
				SuboptionSequence,
				CreditDebitIndicator,
				TemporaryIndicator,
				NewSecuritiesIssuanceIndicator,
				NonEligibleProceedsIndicator,
				IssuerOfferorTaxabilityIndicator,
				TypeofIncome,
				OtherTypeofIncome,
				SecurityIdentifier,
				SecurityDescriptionL1,
				SecurityDescriptionL2,
				SecurityDescriptionL3,
				SecurityDescriptionL4,
				InternalsecurityID,
				MethodofInterestComputation,
				TypeofFinancialInstrument,
				OptionStyle,
				CurrencyDenomination,
				IssuePriceCode,
				IssuePriceType,
				IssuePriceCurrency,
				IssuePriceAmount,
				MinimumExQtyCode,
				MinimumExercisableQuantity,
				MinimumLotQtyCode,
				MinimumExercisableMultipleLotQuantity,
				MinimumNomtQtyCode,
				MinimumNominalQuantity,
				PostingQuantityiCode,
				PostingQuantity,
				PlaceOfSafekeepingCode,
				PlaceOfSafekeeping,
				DispositionOfFactionType,
				DispositionOfFactionCode,
				CashInLieuCode,
				CashInLieuType,
				CashInLieuCurrency,
				CashInLieuAmount,
				IndicativeMarketPriceCode,
				IndicativeMarketPriceType,
				IndicativeMarketPriceCurrency,
				IndicativeMarketPriceAmount,
				OldSecurityRate,
				NewSecurityRate,
				WithholdingTaxRateCode,
				WithholdingTaxRate,
				SecondLevelTaxRateCode,
				SecondLevelTaxRate,
				TransactionTaxRateCode,
				TransactionTaxRate,
				DividendRankingDate,
				PaymentDate,
				PariPassuDate,
				PaymentCurrency,
				PaymentAmount,
				CreationDate,
				ReceiptDate,
				ModificatioinDate,
				CancelationDate,
				CreatedBy,
				ModifiedBy,
				CancelledBy)
			values (
				@Action_Option_Security_Movement_Id,
				@TransactionId,
				@CorporateActionReference,
				@CAOptionNumber,
				@SuboptionSequence,
				@CreditDebitIndicator,
				@TemporaryIndicator,
				@NewSecuritiesIssuanceIndicator,
				@NonEligibleProceedsIndicator,
				@IssuerOfferorTaxabilityIndicator,
				@TypeofIncome,
				@OtherTypeofIncome,
				@SecurityIdentifier,
				@SecurityDescriptionL1,
				@SecurityDescriptionL2,
				@SecurityDescriptionL3,
				@SecurityDescriptionL4,
				@InternalsecurityID,
				@MethodofInterestComputation,
				@TypeofFinancialInstrument,
				@OptionStyle,
				@CurrencyDenomination,
				@IssuePriceCode,
				@IssuePriceType,
				@IssuePriceCurrency,
				@IssuePriceAmount,
				@MinimumExQtyCode,
				@MinimumExercisableQuantity,
				@MinimumLotQtyCode,
				@MinimumExercisableMultipleLotQuantity,
				@MinimumNomtQtyCode,
				@MinimumNominalQuantity,
				@PostingQuantityiCode,
				@PostingQuantity,
				@PlaceOfSafekeepingCode,
				@PlaceOfSafekeeping,
				@DispositionOfFactionType,
				@DispositionOfFactionCode,
				@CashInLieuCode,
				@CashInLieuType,
				@CashInLieuCurrency,
				@CashInLieuAmount,
				@IndicativeMarketPriceCode,
				@IndicativeMarketPriceType,
				@IndicativeMarketPriceCurrency,
				@IndicativeMarketPriceAmount,
				@OldSecurityRate,
				@NewSecurityRate,
				@WithholdingTaxRateCode,
				@WithholdingTaxRate,
				@SecondLevelTaxRateCode,
				@SecondLevelTaxRate,
				@TransactionTaxRateCode,
				@TransactionTaxRate,
				@DividendRankingDate,
				@PaymentDate,
				@PariPassuDate,
				@PaymentCurrency,
				@PaymentAmount,
				@CreationDate,
				@ReceiptDate,
				@ModificatioinDate,
				@CancelationDate,
				@CreatedBy,
				@ModifiedBy,
				@CancelledBy)


		-- Return the new ID
		select SCOPE_IDENTITY();

		commit transaction

	end try

	begin catch

		declare @ErrorMessage NVARCHAR(4000);
		declare @ErrorSeverity INT;
		declare @ErrorState INT;

		select @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();

		raiserror (@ErrorMessage, @ErrorSeverity, @ErrorState);

		rollback transaction

	end catch;
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_Announcement_Event]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROC [dbo].[sp_insert_Announcement_Event]
(
	@TransactionId as varchar(32),
	@Message_ID as varchar(16),
	@CorporateActionReference as varchar(16) = Null,
	@OfficialCorporateActionReference as varchar(16) = Null,
	@Depositary_ID as [varchar](16) = Null,
	@SenderBIC as varchar(9) = Null,
	@ReceiverBic as varchar(9) = Null,
	@Messagefunction as varchar(4) = Null,
	@ProcStatusCode as varchar(4) = Null,
	@Eventprocessingindicator as varchar(4) = Null,
	@Mandatoryvoluntaryindicator as varchar(4) = Null,
	@Eventtype as varchar(4) = Null,
	@Prepdate as datetime = Null,
	@LinkedReferenceMessageType as varchar(16) = Null,
	@LinkedReferenceCode as varchar(16) = Null,
	@LinkedReferenceQualifier as varchar(16) = Null,
	@LinkedReferenceId as varchar(16) = Null, 
	@LinkedCOAFId as varchar(16) = Null, 
	@SecurityIDType as varchar(12) = Null,
	@SecurityIdentifier as varchar(12) = Null,
	@SecurityDescription as varchar(140) = Null,
	@InternalsecurityID as varchar(12) = Null,
	@PlaceOfListingOrigin as varchar(4) = Null,
	@PlaceOfListing as varchar(35) = Null,
	@SafeKeepingAccount as varchar(35) = Null,
	@SafekeepingAccountNumber as varchar(35) = Null,
	@PlaceOfSafekeepingCode as varchar(4) = Null,
	@PlaceOfSafekeeping as varchar(30) = Null,
	@EligibleBalanceQtyType as varchar(8) = Null,
	@EligibleBalanceQtyCode as varchar(4) = Null,
	@TotalEligibleBalance as decimal (30,15) = Null,
	@AnnouncementDate as datetime = Null,
	@CertificationDeadlineDate as datetime = Null,
	@EffectiveDate as datetime = Null,
	@FurtherDetailedAnnouncementDate as datetime = Null,
	@LotteryDate as datetime = Null,
	@AnnMaturityDate as datetime = Null,
	@MeetingDate as datetime = Null,
	@PaymentDate as datetime = Null,
	@RecordDate as datetime = Null,
	@ExDate as datetime = Null,
	@MaximumPriceType as varchar(8) = Null,
	@MaximumPriceAmountTypeCode as varchar(8) = Null,
	@MaximumPriceCurrency as varchar(3) = Null,
	@MaximumPriceAmount as decimal (30,15) = Null,
	@MinimumPriceType as varchar(8) = Null,
	@MinimumPriceAmountTypeCode as varchar(8) = Null,
	@MinimumPriceCurrency as varchar(3) = Null,
	@MinimumPriceAmount as decimal (30,15) = Null,
	@ProRationRate as decimal (30,15) = Null,
	@WithholdingTaxRate as decimal (30,15) = Null,
	@WithholdingofLocalTax as decimal (30,15) = Null,
	@CurrentTransactionId as varchar(32) = Null,
	@MessageStatus as varchar(10) = Null,
	@CreationDate as datetime = Null,
	@ReceiptDate as datetime = Null,
	@ModificatioinDate as datetime = Null,
	@CancelationDate as datetime = Null,
	@CreatedBy as varchar(35) = Null,
	@ModifiedBy as varchar(35) = Null,
	@CancelledBy as varchar(35) = Null

)
AS

begin transaction

	begin try

		-- insert
			insert [dbo].[Announcement_Event] (
				TransactionId,
				Message_ID,
				CorporateActionReference,
				OfficialCorporateActionReference,
				Depositary_ID,
				SenderBIC,
				ReceiverBic,
				Messagefunction,
				ProcStatusCode,
				Eventprocessingindicator,
				Mandatoryvoluntaryindicator,
				Eventtype,
				Prepdate,
				LinkedReferenceMessageType,
                LinkedReferenceCode,
                LinkedReferenceQualifier,   
                LinkedReferenceId, 
                LinkedCOAFId, 
				SecurityIDType,
				SecurityIdentifier,
				SecurityDescription,
				InternalsecurityID,
				PlaceOfListingOrigin,
				PlaceOfListing,
				SafeKeepingAccount,
				SafekeepingAccountNumber,
				PlaceOfSafekeepingCode,
				PlaceOfSafekeeping,
				EligibleBalanceQtyType,
				EligibleBalanceQtyCode,
				TotalEligibleBalance,
				AnnouncementDate,
				CertificationDeadlineDate,
				EffectiveDate,
				FurtherDetailedAnnouncementDate,
				LotteryDate,
				AnnMaturityDate,
				MeetingDate,
				PaymentDate,
				RecordDate,
				ExDate,
				MaximumPriceType,
				MaximumPriceAmountTypeCode,
				MaximumPriceCurrency,
				MaximumPriceAmount,
				MinimumPriceType,
				MinimumPriceAmountTypeCode,
				MinimumPriceCurrency,
				MinimumPriceAmount,
				ProRationRate,
				WithholdingTaxRate,
				WithholdingofLocalTax,
				CurrentTransactionId,
				MessageStatus,
				CreationDate,
				ReceiptDate,
				ModificatioinDate,
				CancelationDate,
				CreatedBy,
				ModifiedBy,
				CancelledBy)
			values (
				@TransactionId,
				@Message_ID,
				@CorporateActionReference,
				@OfficialCorporateActionReference,
				@Depositary_ID,
				@SenderBIC,
				@ReceiverBic,
				@Messagefunction,
				@ProcStatusCode,
				@Eventprocessingindicator,
				@Mandatoryvoluntaryindicator,
				@Eventtype,
				@Prepdate,
				@LinkedReferenceMessageType,
                @LinkedReferenceCode,
                @LinkedReferenceQualifier,   
                @LinkedReferenceId, 
                @LinkedCOAFId, 
				@SecurityIDType,
				@SecurityIdentifier,
				@SecurityDescription,
				@InternalsecurityID,
				@PlaceOfListingOrigin,
				@PlaceOfListing,
				@SafeKeepingAccount,
				@SafekeepingAccountNumber,
				@PlaceOfSafekeepingCode,
				@PlaceOfSafekeeping,
				@EligibleBalanceQtyType,
				@EligibleBalanceQtyCode,
				@TotalEligibleBalance,
				@AnnouncementDate,
				@CertificationDeadlineDate,
				@EffectiveDate,
				@FurtherDetailedAnnouncementDate,
				@LotteryDate,
				@AnnMaturityDate,
				@MeetingDate,
				@PaymentDate,
				@RecordDate,
				@ExDate,
				@MaximumPriceType,
				@MaximumPriceAmountTypeCode,
				@MaximumPriceCurrency,
				@MaximumPriceAmount,
				@MinimumPriceType,
				@MinimumPriceAmountTypeCode,
				@MinimumPriceCurrency,
				@MinimumPriceAmount,
				@ProRationRate,
				@WithholdingTaxRate,
				@WithholdingofLocalTax,
				@CurrentTransactionId
				@MessageStatus,
				@CreationDate,
				@ReceiptDate,
				@ModificatioinDate,
				@CancelationDate,
				@CreatedBy,
				@ModifiedBy,
				@CancelledBy)


		-- Return the new ID
		select SCOPE_IDENTITY();

		commit transaction

	end try

	begin catch

		declare @ErrorMessage NVARCHAR(4000);
		declare @ErrorSeverity INT;
		declare @ErrorState INT;

		select @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();

		raiserror (@ErrorMessage, @ErrorSeverity, @ErrorState);

		rollback transaction

	end catch;


GO
/****** Object:  StoredProcedure [dbo].[sp_insert_Announcement_EventOption]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[sp_insert_Announcement_EventOption]
(
	@Announcement_EventOptionID as int,
	@TransactionId as varchar(32),
	@CorporateActionReference as varchar(16) = Null,
	@CAOptionNumber as numeric = Null,
	@CAOptionCode as varchar(4) = Null,
	@OptionFeatures as varchar(4) = Null,
	@DispositionofFractions as varchar(4) = Null,
	@OfferType as varchar(4) = Null,
	@CountryofNONDomicile as varchar(2) = Null,
	@CurrencyOption as varchar(4) = Null,
	@DefaultProcessingFlag as varchar(1) = Null,
	@ExpirationDate as datetime = Null,
	@LastTradingDate_Time as datetime = Null,
	@MarketDeadlineDate as datetime = Null,
	@ResponseDeadlineDate as datetime = Null,
	@EndofSecuritiesBlockingPeriod as datetime = Null,
	@PeriodofActionStartDate as datetime = Null,
	@PeriodofActionEndDate as datetime = Null,
	@PriceCalculationPeriodStartDate as datetime = Null,
	@PriceCalculationPeriodEndDate as datetime = Null,
	@GrossDividendTypeCode as varchar(4) = Null,
	@GrossDividendStatusCode as varchar(4) = Null,
	@GrossDividendRateCurrency as varchar(3) = Null,
	@GrossDividendRate as numeric(31, 15) = Null,
	@CalculatedInterestRateTypeCode as varchar(8) = Null,
	@CalculatedInterestStatusCode as varchar(4) = Null,
	@CalculatedInterestRateCurrency as varchar(3) = Null,
	@CalculatedInterestRate as numeric(31, 15) = Null,
	@WithholdingTaxRateTypeCode as varchar(4) = Null,
	@WithholdingTaxRateStatusCode as varchar(8) = Null,
	@WithholdingRateCurrency as varchar(3) = Null,
	@WithholdingTaxRate as numeric(31, 15) = Null,
	@CashInLieuPriceType as varchar(8) = Null,
	@CashInLieuAmountTypeCode as varchar(8) = Null,
	@CashInLieuofSharesPriceCurrency as varchar(3) = Null,
	@CashInLieuofSharesPriceValue as numeric(31, 15) = Null,
	@MaximumPriceType as varchar(8) = Null,
	@MaximumPriceAmountTypeCode as varchar(8) = Null,
	@MaximumPriceCurrency as varchar(3) = Null,
	@MaximumPriceAmount as numeric(31, 15) = Null,
	@MinimumPriceType as varchar(8) = Null,
	@MinimumPriceAmountTypeCode as varchar(8) = Null,
	@MinimumPriceCurrency as varchar(3) = Null,
	@MinimumPriceAmount as numeric(31, 15) = Null,
	@MinimumInstructQtyType as varchar(4) = Null,
	@MinimumInstructQtyCode as varchar(8) = Null,
	@MinimumInstructQty as numeric(31, 15) = Null,
	@MinimumMultipleInstructQtyType as varchar(4) = Null,
	@MinimumMultipleInstructQtyCode as varchar(8) = Null,
	@MinimumMultipleInstructQty as numeric(31, 15) = Null,
	@CreationDate as datetime = Null,
	@ReceiptDate as datetime = Null,
	@ModificatioinDate as datetime = Null,
	@CancelationDate as datetime = Null,
	@CreatedBy as varchar(35) = Null,
	@ModifiedBy as varchar(35) = Null,
	@CancelledBy as varchar(35) = Null

)
AS

begin transaction

	begin try

		-- insert
			insert [dbo].[Announcement_EventOption] (
				Announcement_EventOptionID,
				TransactionId,
				CorporateActionReference,
				CAOptionNumber,
				CAOptionCode,
				OptionFeatures,
				DispositionofFractions,
				OfferType,
				CountryofNONDomicile,
				CurrencyOption,
				DefaultProcessingFlag,
				ExpirationDate,
				LastTradingDate_Time,
				MarketDeadlineDate,
				ResponseDeadlineDate,
				EndofSecuritiesBlockingPeriod,
				PeriodofActionStartDate,
				PeriodofActionEndDate,
				PriceCalculationPeriodStartDate,
				PriceCalculationPeriodEndDate,
				GrossDividendTypeCode,
				GrossDividendStatusCode,
				GrossDividendRateCurrency,
				GrossDividendRate,
				CalculatedInterestRateTypeCode,
				CalculatedInterestStatusCode,
				CalculatedInterestRateCurrency,
				CalculatedInterestRate,
				WithholdingTaxRateTypeCode,
				WithholdingTaxRateStatusCode,
				WithholdingRateCurrency,
				WithholdingTaxRate,
				CashInLieuPriceType,
				CashInLieuAmountTypeCode,
				CashInLieuofSharesPriceCurrency,
				CashInLieuofSharesPriceValue,
				MaximumPriceType,
				MaximumPriceAmountTypeCode,
				MaximumPriceCurrency,
				MaximumPriceAmount,
				MinimumPriceType,
				MinimumPriceAmountTypeCode,
				MinimumPriceCurrency,
				MinimumPriceAmount,
				MinimumInstructQtyType,
				MinimumInstructQtyCode,
				MinimumInstructQty,
				MinimumMultipleInstructQtyType,
				MinimumMultipleInstructQtyCode,
				MinimumMultipleInstructQty,
				CreationDate,
				ReceiptDate,
				ModificatioinDate,
				CancelationDate,
				CreatedBy,
				ModifiedBy,
				CancelledBy)
			values (
				@Announcement_EventOptionID,
				@TransactionId,
				@CorporateActionReference,
				@CAOptionNumber,
				@CAOptionCode,
				@OptionFeatures,
				@DispositionofFractions,
				@OfferType,
				@CountryofNONDomicile,
				@CurrencyOption,
				@DefaultProcessingFlag,
				@ExpirationDate,
				@LastTradingDate_Time,
				@MarketDeadlineDate,
				@ResponseDeadlineDate,
				@EndofSecuritiesBlockingPeriod,
				@PeriodofActionStartDate,
				@PeriodofActionEndDate,
				@PriceCalculationPeriodStartDate,
				@PriceCalculationPeriodEndDate,
				@GrossDividendTypeCode,
				@GrossDividendStatusCode,
				@GrossDividendRateCurrency,
				@GrossDividendRate,
				@CalculatedInterestRateTypeCode,
				@CalculatedInterestStatusCode,
				@CalculatedInterestRateCurrency,
				@CalculatedInterestRate,
				@WithholdingTaxRateTypeCode,
				@WithholdingTaxRateStatusCode,
				@WithholdingRateCurrency,
				@WithholdingTaxRate,
				@CashInLieuPriceType,
				@CashInLieuAmountTypeCode,
				@CashInLieuofSharesPriceCurrency,
				@CashInLieuofSharesPriceValue,
				@MaximumPriceType,
				@MaximumPriceAmountTypeCode,
				@MaximumPriceCurrency,
				@MaximumPriceAmount,
				@MinimumPriceType,
				@MinimumPriceAmountTypeCode,
				@MinimumPriceCurrency,
				@MinimumPriceAmount,
				@MinimumInstructQtyType,
				@MinimumInstructQtyCode,
				@MinimumInstructQty,
				@MinimumMultipleInstructQtyType,
				@MinimumMultipleInstructQtyCode,
				@MinimumMultipleInstructQty,
				@CreationDate,
				@ReceiptDate,
				@ModificatioinDate,
				@CancelationDate,
				@CreatedBy,
				@ModifiedBy,
				@CancelledBy)


		-- Return the new ID
		select SCOPE_IDENTITY();

		commit transaction

	end try

	begin catch

		declare @ErrorMessage NVARCHAR(4000);
		declare @ErrorSeverity INT;
		declare @ErrorState INT;

		select @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();

		raiserror (@ErrorMessage, @ErrorSeverity, @ErrorState);

		rollback transaction

	end catch;

GO
/****** Object:  StoredProcedure [dbo].[sp_insert_Narratives]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[sp_insert_Narratives]
(
	
	@TransactionId as varchar(32),
	@Message_ID as varchar(16) NULL,
	@MessageType as varchar(3) NULL,
	@CorporateActionReference as varchar(16) = Null,
	@CAOptionNumber as numeric = Null,
	@SuboptionSequence as numeric = Null,
	@SequenceLevel as varchar(16) = Null,
	@NarrativeType as varchar(16) = Null,
	@NarrativeCode as varchar(16) = Null,
	@NarrativesText as varchar(max) = Null,
	@CreationDate as datetime = Null,
	@ReceiptDate as datetime = Null,
	@ModificatioinDate as datetime = Null,
	@CancelationDate as datetime = Null,
	@CreatedBy as varchar(35) = Null,
	@ModifiedBy as varchar(35) = Null,
	@CancelledBy as varchar(35) = Null

)
AS

begin transaction

	begin try

		-- insert
			insert [dbo].[Narratives] (
				TransactionId,
				Message_ID,
				MessageType,
				CorporateActionReference,
				CAOptionNumber,
				SuboptionSequence,
				SequenceLevel,
				NarrativeType,
				NarrativeCode,
				NarrativesText,
				CreationDate,
				ReceiptDate,
				ModificatioinDate,
				CancelationDate,
				CreatedBy,
				ModifiedBy,
				CancelledBy)
			values (
				@TransactionId,
				@Message_ID,
				@MessageType,				
				@CorporateActionReference,
				@CAOptionNumber,
				@SuboptionSequence,
				@SequenceLevel,
				@NarrativeType,
				@NarrativeCode,
				@NarrativesText,
				@CreationDate,
				@ReceiptDate,
				@ModificatioinDate,
				@CancelationDate,
				@CreatedBy,
				@ModifiedBy,
				@CancelledBy)


		-- Return the new ID
		select SCOPE_IDENTITY();

		commit transaction

	end try

	begin catch

		declare @ErrorMessage NVARCHAR(4000);
		declare @ErrorSeverity INT;
		declare @ErrorState INT;

		select @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();

		raiserror (@ErrorMessage, @ErrorSeverity, @ErrorState);

		rollback transaction

	end catch;

GO
/****** Object:  StoredProcedure [dbo].[sp_insert_Swift_Message]    Script Date: 11/20/2024 6:32:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_insert_Swift_Message]
(
	@Message_ID as varchar(32),
	@MessageType as varchar(3) = Null,
	@SenderBIC as varchar(9) = Null,
	@Depositary_ID as [varchar](16) = Null,
	@CorporateActionReference as varchar(16) = Null,
	@Messagefunction as varchar(4) = Null,
	@ProcStatusCode as varchar(4) = Null,
	@Mandatoryvoluntaryindicator as varchar(4) = Null,
	@Eventtype as varchar(4) = Null,
	@SwiftMessage as varchar(max) = Null,
	@SwiftMessageFileName as varchar(128) = Null,
	@Status as varchar(10) = Null,
	@ErrorType as varchar(16) = Null,
	@ErrorReason as varchar(256) = Null,
	@ReceiptDate as datetime = Null,
	@CreationDate as datetime = Null,
	@UpdatedDate datetime = Null,
	@CancelationDate datetime = Null,
	@CreatedBy as varchar(35) = Null,
	@UpdatedBy as varchar(35) = Null,
	@CanceledBy as varchar(35) = Null

)
AS

begin transaction

	begin try

		-- insert
			insert [dbo].[Swift_Message] (
				Message_ID,
				MessageType,
				SenderBIC,
				Depositary_ID,
				CorporateActionReference,
				Messagefunction,
				ProcStatusCode,
				Mandatoryvoluntaryindicator,
				Eventtype,
				SwiftMessage,
				SwiftMessageFileName,
				Status,
				ErrorType,
				ErrorReason,
				ReceiptDate,
				CreationDate,
				UpdatedDate,
				CancelationDate,
				CreatedBy,
				UpdatedBy,
				CanceledBy)
			values (
				@Message_ID,
				@MessageType,
				@SenderBIC,
				@Depositary_ID,
				@CorporateActionReference,
				@Messagefunction,
				@ProcStatusCode,
				@Mandatoryvoluntaryindicator,
				@Eventtype,
				@SwiftMessage,
				@SwiftMessageFileName,
				@Status,
				@ErrorType,
				@ErrorReason,
				@ReceiptDate ,
				@CreationDate,
				@UpdatedDate ,
				@CancelationDate ,
				@CreatedBy,
				@UpdatedBy,
				@CanceledBy)


		-- Return the new ID
		select SCOPE_IDENTITY() ;

		commit transaction

	end try 

	begin catch

		declare @ErrorMessage NVARCHAR(4000);
		declare @ErrorSeverity INT;
		declare @ErrorState INT;

		select @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();

		raiserror (@ErrorMessage, @ErrorSeverity, @ErrorState);

		rollback transaction

	end catch;

GO
USE [master]
GO
