USE [master]
GO
/****** Object:  Database [FundWireInterfaceDB]    Script Date: 10/30/2020 2:35:58 PM ******/
CREATE DATABASE [FundWireInterfaceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FundWireInterfaceDB', FILENAME = N'C:\CFSB\DotNetProject\FundWireInterfaceDB\DATA\FundWireInterfaceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FundWireInterfaceDB_log', FILENAME = N'C:\CFSB\DotNetProject\FundWireInterfaceDB\LOG\FundWireInterfaceDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FundWireInterfaceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FundWireInterfaceDB]
GO
/****** Object:  Table [dbo].[AccountInformation]    Script Date: 10/30/2020 2:35:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountInformation](
	[InternalId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MessageReference] [varchar](32) NOT NULL,
	[MessageOrigin] [varchar](10) NOT NULL,
	[OrigineName] [varchar](64) NOT NULL,
	[IncomingOutGoing] [varchar](16) NOT NULL,
	[MessageId] [varchar](32) NOT NULL,
	[TagId] [varchar](64) NOT NULL,
	[SequenceNumber] [int] NULL,
	[AccountIdCode] [varchar](1) NULL,
	[AccountIdentifier] [varchar](34) NULL,
	[AccountName] [varchar](35) NULL,
	[AddressLine1] [varchar](35) NULL,
	[AddressLine2] [varchar](35) NULL,
	[AddressLine3] [varchar](35) NULL,
 CONSTRAINT [PK_AccountInformation] PRIMARY KEY CLUSTERED 
(
	[InternalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_AccountInformation_Source] UNIQUE NONCLUSTERED 
(
	[MessageId] ASC,
	[TagId] ASC,
	[SequenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addenda]    Script Date: 10/30/2020 2:35:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addenda](
	[InternalId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MessageReference] [varchar](32) NOT NULL,
	[MessageOrigin] [varchar](10) NOT NULL,
	[OrigineName] [varchar](64) NOT NULL,
	[IncomingOutGoing] [varchar](16) NOT NULL,
	[MessageId] [varchar](32) NOT NULL,
	[SequenceNumber] [int] NULL,
	[AddendaLength] [int] NULL,
	[AddendaInformation] [varchar](max) NULL,
 CONSTRAINT [PK_Addenda] PRIMARY KEY CLUSTERED 
(
	[InternalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_Addenda_Source] UNIQUE NONCLUSTERED 
(
	[MessageId] ASC,
	[SequenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FedMessageByTag]    Script Date: 10/30/2020 2:35:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FedMessageByTag](
	[InternalId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MessageId] [varchar](32) NOT NULL,
	[MessageReference] [varchar](32) NOT NULL,
	[MessageOrigin] [varchar](10) NOT NULL,
	[OrigineName] [varchar](64) NOT NULL,
	[IncomingOutGoing] [varchar](16) NOT NULL,
	[FileId] [numeric](18, 0) NULL,
	[ClientId] [varchar](32) NOT NULL,
	[DateReceived] [datetime] NULL,
	[DateLoaded] [datetime] NULL,
	[OutputCycleDate] [varchar](10) NULL,
	[OutputDestinationId] [varchar](8) NULL,
	[OutputSequenceNumber] [varchar](6) NULL,
	[OutputDateDateMMDD] [varchar](4) NULL,
	[OutputTimeHHMM] [varchar](4) NULL,
	[OutputApplicationID] [varchar](4) NULL,
	[SenderSuppliedInformation] [varchar](12) NULL,
	[TypeSubType] [varchar](4) NULL,
	[InputMessageAccountabilityData] [varchar](22) NULL,
	[SenderDI] [varchar](27) NULL,
	[ReceiverDI] [varchar](27) NULL,
	[BusinessFunctionCode] [varchar](3) NULL,
	[SenderReference] [varchar](16) NULL,
	[PreviousMessageId] [varchar](22) NULL,
	[LocalInstrument] [varchar](39) NULL,
	[PaymentNotification] [varchar](2328) NULL,
	[Charges] [varchar](73) NULL,
	[InstructedAmount] [varchar](18) NULL,
	[ExchangeRate] [varchar](12) NULL,
	[IntermediaryFI] [varchar](175) NULL,
	[BeneficiaryFI] [varchar](175) NULL,
	[Beneficiary] [varchar](175) NULL,
	[ReferenceforBeneficiary] [varchar](16) NULL,
	[AccountDebitedinDrawdown] [varchar](175) NULL,
	[Originator] [varchar](175) NULL,
	[OriginatorOptionF] [varchar](175) NULL,
	[OriginatorFI] [varchar](175) NULL,
	[InstructingFI] [varchar](175) NULL,
	[AccountCreditedinDrawdown] [varchar](9) NULL,
	[OriginatortoBeneficiaryInformation] [varchar](140) NULL,
	[ReceiverFIInformation] [varchar](195) NULL,
	[DrawdownDebitAccountAdviceInformation] [varchar](194) NULL,
	[IntermediaryFIInformation] [varchar](195) NULL,
	[IntermediaryFIAdviceInformation] [varchar](194) NULL,
	[BeneficiarysFIInformation] [varchar](195) NULL,
	[BeneficiarysFIAdviceInformation] [varchar](194) NULL,
	[BeneficiaryInformation] [varchar](195) NULL,
	[BeneficiaryAdviceInformation] [varchar](194) NULL,
	[MethodofPaymenttoBeneficiary] [varchar](35) NULL,
	[FItoFIInformation] [varchar](210) NULL,
	[SwiftB33BCurrencyInstructedAmount] [varchar](23) NULL,
	[SwiftB50AOrderingCustomer] [varchar](180) NULL,
	[SwiftB52AOrderingInstitution] [varchar](180) NULL,
	[SwiftB56AIntermediaryInstitution] [varchar](180) NULL,
	[SwiftB57AAccountwithInstitution] [varchar](180) NULL,
	[SwiftB59ABeneficiaryCustomer] [varchar](180) NULL,
	[SwiftB70RemittanceInformation] [varchar](180) NULL,
	[SwiftB72SendertoReceiverInformation] [varchar](180) NULL,
	[UnstructuredAddendaInformation] [varchar](max) NULL,
	[RelatedRemittanceInformation] [varchar](2616) NULL,
	[RemittanceOriginatorInfo] [varchar](3436) NULL,
	[RemittanceBeneficiaryInfo] [varchar](690) NULL,
	[ActualAmountPaid] [varchar](22) NULL,
	[GrossAmountofRemittanceDocument] [varchar](22) NULL,
	[SecondaryRemittanceDocumentInformation] [varchar](109) NULL,
	[RemittanceFreeText] [varchar](420) NULL,
	[PrimaryRemittanceDocumentInformation] [varchar](109) NULL,
	[AmountofNegotiatedDiscount] [varchar](22) NULL,
	[AdjustmentInformationDetails] [varchar](168) NULL,
	[DateofRemittanceDocument] [varchar](8) NULL,
	[ServiceMessageInformation] [varchar](420) NULL,
	[MessageDisposition] [varchar](5) NULL,
	[ReceiptTimeStamp] [varchar](12) NULL,
	[OutputMessageAccountabilityData] [varchar](34) NULL,
	[Error] [varchar](41) NULL,
	[LoadStatus] [varchar](16) NULL,
	[LoadRejectReason] [varchar](512) NULL,
	[CreationDate] [datetime] NOT NULL,
	[CreatorId] [varchar](32) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdatorId] [varchar](32) NULL,
 CONSTRAINT [PK_FedMessageByTag] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[InternalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FedMessageWire]    Script Date: 10/30/2020 2:35:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FedMessageWire](
	[InternalId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MessageId] [varchar](32) NOT NULL,
	[MessageReference] [varchar](32) NOT NULL,
	[MessageOrigin] [varchar](10) NOT NULL,
	[OrigineName] [varchar](64) NOT NULL,
	[IncomingOutGoing] [varchar](16) NOT NULL,
	[FileId] [numeric](18, 0) NULL,
	[ClientId] [varchar](32) NOT NULL,
	[DateReceived] [datetime] NULL,
	[DateLoaded] [datetime] NULL,
	[SenderFormatVersion] [varchar](2) NULL,
	[SenderUserRequestCorrelation] [varchar](8) NULL,
	[SenderProductionCode] [varchar](1) NULL,
	[SenderMessageDuplicationCode] [varchar](1) NULL,
	[MessageType] [varchar](2) NULL,
	[MessageTypeSubType] [varchar](2) NULL,
	[ImadCycleDate] [varchar](8) NULL,
	[ImadSource] [varchar](8) NULL,
	[ImadSequenceNumber] [varchar](6) NULL,
	[Amount] [decimal](18, 2) NULL,
	[SenderABANumber] [varchar](9) NULL,
	[SenderShortName] [varchar](18) NULL,
	[ReceiverABANumber] [varchar](9) NULL,
	[ReceiverShortName] [varchar](18) NULL,
	[BusinessFunctionCode] [varchar](3) NULL,
	[SenderReference] [varchar](16) NULL,
	[PreviousMessageId] [varchar](22) NULL,
	[LocalInstrumentCode] [varchar](4) NULL,
	[ProprietaryCode] [varchar](35) NULL,
	[ChargesDetail] [varchar](1) NULL,
	[ChargeCurrency1] [varchar](3) NULL,
	[ChargeAmount1] [decimal](18, 2) NULL,
	[ChargeCurrency2] [varchar](3) NULL,
	[ChargeAmount2] [decimal](18, 2) NULL,
	[ChargeCurrency3] [varchar](3) NULL,
	[ChargeAmount3] [decimal](18, 2) NULL,
	[ChargeCurrency4] [varchar](3) NULL,
	[ChargeAmount4] [decimal](18, 2) NULL,
	[InstructedCurrency] [varchar](3) NULL,
	[InstructedAmount] [decimal](18, 2) NULL,
	[ExchangeRate] [decimal](18, 15) NULL,
	[ReferenceforBeneficiary] [varchar](16) NULL,
	[OriginatorOptionFPartyIdentifier] [varchar](4) NULL,
	[OriginatorOptionFPartyUniqueIdentifier] [varchar](31) NULL,
	[OriginatorOptionFPartyNameCode] [varchar](1) NULL,
	[OriginatorOptionFPartyName] [varchar](34) NULL,
	[AccountCreditedinDrawDownABA] [varchar](9) NULL,
	[OriginatortoBeneficiaryInfL1] [varchar](35) NULL,
	[OriginatortoBeneficiaryInfL2] [varchar](35) NULL,
	[OriginatortoBeneficiaryInfL3] [varchar](35) NULL,
	[OriginatortoBeneficiaryInfL4] [varchar](35) NULL,
	[MethodOfPaymentCode] [varchar](5) NULL,
	[MethodOfPaymentAdditionalInformation] [varchar](30) NULL,
	[FItoFIInformationL1] [varchar](35) NULL,
	[FItoFIInformationL2] [varchar](35) NULL,
	[FItoFIInformationL3] [varchar](35) NULL,
	[FItoFIInformationL4] [varchar](35) NULL,
	[FItoFIInformationL5] [varchar](35) NULL,
	[FItoFIInformationL6] [varchar](35) NULL,
	[DateofRemittanceDocument] [datetime] NULL,
	[MessageDispositionFormatVersion] [varchar](2) NULL,
	[MessageDispositionProductionCode] [varchar](1) NULL,
	[MessageDispositionMessageDuplicationCode] [varchar](1) NULL,
	[MessageDispositionStatusIndicator] [varchar](1) NULL,
	[ReceiptDateMMDD] [varchar](4) NULL,
	[ReceiptTimeHHMM] [varchar](4) NULL,
	[ReceiptApplicationID] [varchar](4) NULL,
	[OmadCycleDate] [varchar](8) NULL,
	[OmadDestinationId] [varchar](8) NULL,
	[OmadOutputSequenceNumber] [varchar](6) NULL,
	[OmadOutputDateDateMMDD] [varchar](4) NULL,
	[OmadOutputTimeHHMM] [varchar](4) NULL,
	[OmadOutputApplicationID] [varchar](4) NULL,
	[ErrorCatecoryCode] [varchar](1) NULL,
	[ErrorCode] [varchar](3) NULL,
	[ErrorDescription] [varchar](35) NULL,
	[LoadStatus] [varchar](16) NULL,
	[LoadRejectReason] [varchar](512) NULL,
	[CreationDate] [datetime] NOT NULL,
	[CreatorId] [varchar](32) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdatorId] [varchar](32) NULL,
 CONSTRAINT [PK_FedMessageWire] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_FedMessageWire_InternalId] UNIQUE NONCLUSTERED 
(
	[InternalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_FedMessageWire_Source] UNIQUE NONCLUSTERED 
(
	[ClientId] ASC,
	[FileId] ASC,
	[IncomingOutGoing] ASC,
	[OrigineName] ASC,
	[MessageOrigin] ASC,
	[MessageReference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InterfaceLoadHistory]    Script Date: 10/30/2020 2:35:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InterfaceLoadHistory](
	[FileId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[IncomingOutGoing] [varchar](16) NOT NULL,
	[Filename] [varchar](256) NOT NULL,
	[InterfaceIdentifier] [varchar](64) NOT NULL,
	[ClientId] [varchar](63) NULL,
	[InterfaceName] [varchar](64) NOT NULL,
	[InterfaceType] [varchar](32) NULL,
	[LoadProcessId] [varchar](32) NULL,
	[LoadProcessName] [varchar](32) NULL,
	[LoadDate] [datetime] NULL,
	[ProcessedDate] [datetime] NULL,
	[BusinessDate] [datetime] NULL,
	[FileOrigin] [varchar](128) NULL,
	[FileDestination] [varchar](128) NULL,
	[FileArchived] [varchar](128) NULL,
	[FileReceivedDate] [datetime] NULL,
	[RecordsNumber] [int] NULL,
	[RecordProcessed] [int] NULL,
	[RecordRejected] [int] NULL,
	[FileSize] [int] NULL,
	[RejectReasonCode] [varchar](32) NULL,
	[RejectReasonDescription] [varchar](512) NULL,
	[LoadStatus] [varchar](16) NULL,
	[UserId] [varchar](32) NULL,
	[DataFileContent] [varbinary](max) NULL,
	[CreationDate] [datetime] NOT NULL,
	[CreatorId] [varchar](32) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdatorId] [varchar](32) NULL,
 CONSTRAINT [PK_InterfaceLoadHistory] PRIMARY KEY CLUSTERED 
(
	[FileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OriginatorOptionF]    Script Date: 10/30/2020 2:35:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OriginatorOptionF](
	[InternalId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MessageReference] [varchar](32) NOT NULL,
	[MessageOrigin] [varchar](10) NOT NULL,
	[OrigineName] [varchar](64) NOT NULL,
	[IncomingOutGoing] [varchar](16) NOT NULL,
	[TagId] [varchar](64) NOT NULL,
	[MessageId] [varchar](32) NOT NULL,
	[SequenceNumber] [int] NULL,
	[OrginatorOptionFCode1] [varchar](1) NULL,
	[OrginatorOptionFLine1] [varchar](34) NULL,
	[OrginatorOptionFCode2] [varchar](1) NULL,
	[OrginatorOptionFLine2] [varchar](34) NULL,
	[OrginatorOptionFCode3] [varchar](1) NULL,
	[OrginatorOptionFLine3] [varchar](34) NULL,
 CONSTRAINT [PK_OriginatorOptionF] PRIMARY KEY CLUSTERED 
(
	[InternalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_OriginatorOptionF_Source] UNIQUE NONCLUSTERED 
(
	[MessageId] ASC,
	[TagId] ASC,
	[SequenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartyAdviceInformation]    Script Date: 10/30/2020 2:35:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartyAdviceInformation](
	[InternalId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MessageReference] [varchar](32) NOT NULL,
	[MessageOrigin] [varchar](10) NOT NULL,
	[OrigineName] [varchar](64) NOT NULL,
	[IncomingOutGoing] [varchar](16) NOT NULL,
	[MessageId] [varchar](32) NOT NULL,
	[TagId] [varchar](64) NOT NULL,
	[SequenceNumber] [int] NULL,
	[AdviceCode] [varchar](3) NULL,
	[AdviceInfo] [varchar](26) NULL,
	[AdviceInfoL1] [varchar](33) NULL,
	[AdviceInfoL2] [varchar](33) NULL,
	[AdviceInfoL3] [varchar](33) NULL,
	[AdviceInfoL4] [varchar](33) NULL,
 CONSTRAINT [PK_PartyAdviceInformation] PRIMARY KEY CLUSTERED 
(
	[InternalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_PartyAdviceInformation_Source] UNIQUE NONCLUSTERED 
(
	[MessageId] ASC,
	[TagId] ASC,
	[SequenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartyInformation]    Script Date: 10/30/2020 2:35:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartyInformation](
	[InternalId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MessageReference] [varchar](32) NOT NULL,
	[MessageOrigin] [varchar](10) NOT NULL,
	[OrigineName] [varchar](64) NOT NULL,
	[IncomingOutGoing] [varchar](16) NOT NULL,
	[TagId] [varchar](64) NOT NULL,
	[MessageId] [varchar](32) NOT NULL,
	[SequenceNumber] [int] NULL,
	[PartyInfo] [varchar](30) NULL,
	[PartyInfoL1] [varchar](33) NULL,
	[PartyInfoL2] [varchar](33) NULL,
	[PartyInfoL3] [varchar](33) NULL,
	[PartyInfoL4] [varchar](33) NULL,
	[PartyInfoL5] [varchar](33) NULL,
 CONSTRAINT [PK_PartyInformation] PRIMARY KEY CLUSTERED 
(
	[InternalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_PartyInformation_Source] UNIQUE NONCLUSTERED 
(
	[MessageId] ASC,
	[TagId] ASC,
	[SequenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentNotification]    Script Date: 10/30/2020 2:35:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentNotification](
	[InternalId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MessageReference] [varchar](32) NOT NULL,
	[MessageOrigin] [varchar](10) NOT NULL,
	[OrigineName] [varchar](64) NOT NULL,
	[IncomingOutGoing] [varchar](16) NOT NULL,
	[TagId] [varchar](64) NOT NULL,
	[MessageId] [varchar](32) NOT NULL,
	[SequenceNumber] [int] NULL,
	[NotificationIndicator] [varchar](1) NULL,
	[ContactEmail] [varchar](2048) NULL,
	[ContactName] [varchar](140) NULL,
	[ContactPhoneNumber] [varchar](35) NULL,
	[ContactFaxNumber] [varchar](35) NULL,
	[ContactMobileNumber] [varchar](35) NULL,
	[EndToEndIdentification] [varchar](35) NULL,
 CONSTRAINT [PK_PaymentNotification] PRIMARY KEY CLUSTERED 
(
	[InternalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_PaymentNotification_Source] UNIQUE NONCLUSTERED 
(
	[MessageId] ASC,
	[TagId] ASC,
	[SequenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RawMessage]    Script Date: 10/30/2020 2:35:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawMessage](
	[InternalId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MessageId] [varchar](32) NOT NULL,
	[MessageReference] [varchar](32) NOT NULL,
	[MessageOrigin] [varchar](10) NOT NULL,
	[OrigineName] [varchar](64) NOT NULL,
	[IncomingOutGoing] [varchar](16) NOT NULL,
	[FileId] [numeric](18, 0) NULL,
	[ClientId] [varchar](32) NOT NULL,
	[DateReceived] [datetime] NULL,
	[DateLoaded] [datetime] NULL,
	[LoadStatus] [varchar](16) NULL,
	[LoadRejectReason] [varchar](512) NULL,
	[UserId] [varchar](32) NULL,
	[DataRecord] [varchar](max) NULL,
	[CreationDate] [datetime] NOT NULL,
	[CreatorId] [varchar](32) NOT NULL,
	[UpdateDate] [datetime] NULL,
	[UpdatorId] [varchar](32) NULL,
 CONSTRAINT [PK_RawMessage] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_RawMessage_InternalId] UNIQUE NONCLUSTERED 
(
	[InternalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_RawMessage_Source] UNIQUE NONCLUSTERED 
(
	[ClientId] ASC,
	[FileId] ASC,
	[IncomingOutGoing] ASC,
	[OrigineName] ASC,
	[MessageOrigin] ASC,
	[MessageReference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RelatedRemittanceInformation]    Script Date: 10/30/2020 2:35:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelatedRemittanceInformation](
	[InternalId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MessageReference] [varchar](32) NOT NULL,
	[MessageOrigin] [varchar](10) NOT NULL,
	[OrigineName] [varchar](64) NOT NULL,
	[IncomingOutGoing] [varchar](16) NOT NULL,
	[MessageId] [varchar](32) NOT NULL,
	[SequenceNumber] [int] NULL,
	[RemittanceIdentification] [varchar](35) NULL,
	[RemittanceLocationMethod] [varchar](4) NULL,
	[RemittanceElectronicAddress] [varchar](2048) NULL,
	[RemittanceName] [varchar](140) NULL,
	[AddressType] [varchar](4) NULL,
	[Department] [varchar](70) NULL,
	[SubDepartment] [varchar](70) NULL,
	[StreetName] [varchar](70) NULL,
	[BuildingNumber] [varchar](16) NULL,
	[PostCode] [varchar](16) NULL,
	[TownName] [varchar](35) NULL,
	[CountryStateSubDivision] [varchar](35) NULL,
	[Country] [varchar](2) NULL,
	[AddressLine1] [varchar](70) NULL,
	[AddressLine2] [varchar](70) NULL,
	[AddressLine3] [varchar](70) NULL,
	[AddressLine4] [varchar](70) NULL,
	[AddressLine5] [varchar](70) NULL,
	[AddressLine6] [varchar](70) NULL,
	[AddressLine7] [varchar](70) NULL,
 CONSTRAINT [PK_RelatedRemittance] PRIMARY KEY CLUSTERED 
(
	[InternalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_RelatedRemittance_Source] UNIQUE NONCLUSTERED 
(
	[MessageId] ASC,
	[SequenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RemittanceDocumentData]    Script Date: 10/30/2020 2:35:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RemittanceDocumentData](
	[InternalId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MessageReference] [varchar](32) NOT NULL,
	[MessageOrigin] [varchar](10) NOT NULL,
	[OrigineName] [varchar](64) NOT NULL,
	[IncomingOutGoing] [varchar](16) NOT NULL,
	[MessageId] [varchar](32) NOT NULL,
	[SequenceNumber] [int] NULL,
	[PrimaryDocumentTypeCode] [varchar](4) NULL,
	[PrimaryProprietaryDocumentTypeCode] [varchar](35) NULL,
	[PrimaryDocumentIdentificationNumber] [varchar](35) NULL,
	[PrimaryIssuer] [varchar](35) NULL,
	[NegotiatedDiscountCurrency] [varchar](3) NULL,
	[NegotiatedDiscountAmount] [decimal](18, 2) NULL,
	[AdjustmentReasonCode] [varchar](2) NULL,
	[AdjustmentCreditDebitIndicator] [varchar](4) NULL,
	[AdjustmentCurrencyCode] [varchar](3) NULL,
	[AdjustmentAmount] [decimal](18, 2) NULL,
	[AdjustmentAdditionalInformation] [varchar](140) NULL,
 CONSTRAINT [PK_RemittanceDocumentData] PRIMARY KEY CLUSTERED 
(
	[InternalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_RemittanceDocumentData_Source] UNIQUE NONCLUSTERED 
(
	[MessageId] ASC,
	[SequenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RemittanceDocumentInvoice]    Script Date: 10/30/2020 2:35:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RemittanceDocumentInvoice](
	[InternalId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MessageReference] [varchar](32) NOT NULL,
	[MessageOrigin] [varchar](10) NOT NULL,
	[OrigineName] [varchar](64) NOT NULL,
	[IncomingOutGoing] [varchar](16) NOT NULL,
	[MessageId] [varchar](32) NOT NULL,
	[SequenceNumber] [int] NULL,
	[OriginatorIdentificationType] [varchar](2) NULL,
	[OriginatorIdentificationCode] [varchar](4) NULL,
	[OriginatorName] [varchar](140) NULL,
	[OriginatorIdentificationNumber] [varchar](35) NULL,
	[OriginatorIdentificationNumberIssuer] [varchar](35) NULL,
	[OriginatorDateOfBirth] [varchar](8) NULL,
	[OriginatorPlaceOfBirth] [varchar](74) NULL,
	[OriginatorAddressType] [varchar](4) NULL,
	[OriginatorDepartment] [varchar](70) NULL,
	[OriginatorSubDepartment] [varchar](70) NULL,
	[OriginatorStreetName] [varchar](70) NULL,
	[OriginatorBuildingNumber] [varchar](16) NULL,
	[OriginatorPostCode] [varchar](16) NULL,
	[OriginatorTownName] [varchar](35) NULL,
	[OriginatorCountryStateSubDivision] [varchar](35) NULL,
	[OriginatorCountry] [varchar](2) NULL,
	[OriginatorAddressLine1] [varchar](70) NULL,
	[OriginatorAddressLine2] [varchar](70) NULL,
	[OriginatorAddressLine3] [varchar](70) NULL,
	[OriginatorAddressLine4] [varchar](70) NULL,
	[OriginatorAddressLine5] [varchar](70) NULL,
	[OriginatorAddressLine6] [varchar](70) NULL,
	[OriginatorAddressLine7] [varchar](70) NULL,
	[OriginatorCountryOfResidence] [varchar](2) NULL,
	[OriginatorContactName] [varchar](140) NULL,
	[OriginatorContactPhoneNumber] [varchar](35) NULL,
	[OriginatorContactMobileNumber] [varchar](35) NULL,
	[OriginatorContactFaxNumber] [varchar](35) NULL,
	[OriginatorContactElectronicAddress] [varchar](2048) NULL,
	[OriginatorContactOtherInfo] [varchar](35) NULL,
	[BeneficiaryIdentificationType] [varchar](4) NULL,
	[BeneficiaryIdentificationCode] [varchar](4) NULL,
	[BeneficiaryName] [varchar](140) NULL,
	[BeneficiaryIdentificationNumber] [varchar](35) NULL,
	[BeneficiaryIdentificationNumberIssuer] [varchar](35) NULL,
	[BeneficiaryDateOfbirth] [varchar](8) NULL,
	[BeneficiaryPlaceOfBirth] [varchar](74) NULL,
	[BeneficiaryAddressType] [varchar](4) NULL,
	[BeneficiaryDepartment] [varchar](70) NULL,
	[BeneficiarySubDepartment] [varchar](70) NULL,
	[BeneficiaryStreetName] [varchar](70) NULL,
	[BeneficiaryBuildingNumber] [varchar](16) NULL,
	[BeneficiaryPostCode] [varchar](16) NULL,
	[BeneficiaryTownName] [varchar](35) NULL,
	[BeneficiaryCountryStateSubDivision] [varchar](35) NULL,
	[BeneficiaryCountry] [varchar](2) NULL,
	[BeneficiaryAddressLine1] [varchar](70) NULL,
	[BeneficiaryAddressLine2] [varchar](70) NULL,
	[BeneficiaryAddressLine3] [varchar](70) NULL,
	[BeneficiaryAddressLine4] [varchar](70) NULL,
	[BeneficiaryAddressLine5] [varchar](70) NULL,
	[BeneficiaryAddressLine6] [varchar](70) NULL,
	[BeneficiaryAddressLine7] [varchar](70) NULL,
	[BeneficiaryCountryOfResidence] [varchar](2) NULL,
	[ActualAmountPaidCurrency] [varchar](3) NULL,
	[ActualAmountPaid] [decimal](18, 2) NULL,
	[GrossAmountCurrency] [varchar](3) NULL,
	[GrossAmount] [decimal](18, 2) NULL,
	[SecondaryDocumentTypeCode] [varchar](4) NULL,
	[SecondaryProprietaryDocumentTypeCode] [varchar](35) NULL,
	[SecondaryDocumentIdentificationNumber] [varchar](35) NULL,
	[SecondaryIssuer] [varchar](35) NULL,
	[SecondaryFreeTextL1] [varchar](140) NULL,
	[SecondaryFreeTextL2] [varchar](140) NULL,
	[SecondaryFreeTextL3] [varchar](140) NULL,
 CONSTRAINT [PK_RemittanceDocumentInvoice] PRIMARY KEY CLUSTERED 
(
	[InternalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_RemittanceDocumentInvoice_Source] UNIQUE NONCLUSTERED 
(
	[MessageId] ASC,
	[SequenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceMessage]    Script Date: 10/30/2020 2:35:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceMessage](
	[InternalId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MessageReference] [varchar](32) NOT NULL,
	[MessageOrigin] [varchar](10) NOT NULL,
	[OrigineName] [varchar](64) NOT NULL,
	[IncomingOutGoing] [varchar](16) NOT NULL,
	[MessageId] [varchar](32) NOT NULL,
	[SequenceNumber] [int] NULL,
	[MessageInformation] [varchar](35) NULL,
 CONSTRAINT [PK_ServiceMessage] PRIMARY KEY CLUSTERED 
(
	[InternalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_ServiceMessage_Source] UNIQUE NONCLUSTERED 
(
	[MessageId] ASC,
	[SequenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SwiftData]    Script Date: 10/30/2020 2:35:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SwiftData](
	[InternalId] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MessageReference] [varchar](32) NOT NULL,
	[MessageOrigin] [varchar](10) NOT NULL,
	[OrigineName] [varchar](64) NOT NULL,
	[IncomingOutGoing] [varchar](16) NOT NULL,
	[MessageId] [varchar](32) NOT NULL,
	[SequenceNumber] [int] NULL,
	[InstructedCurrency] [varchar](3) NULL,
	[InstructedAmount] [decimal](18, 2) NULL,
	[OrderingCustomerL1] [varchar](35) NULL,
	[OrderingCustomerL2] [varchar](35) NULL,
	[OrderingCustomerL3] [varchar](35) NULL,
	[OrderingCustomerL4] [varchar](35) NULL,
	[OrderingCustomerL5] [varchar](35) NULL,
	[IntermediaryInstitutionL1] [varchar](35) NULL,
	[IntermediaryInstitutionL2] [varchar](35) NULL,
	[IntermediaryInstitutionL3] [varchar](35) NULL,
	[IntermediaryInstitutionL4] [varchar](35) NULL,
	[IntermediaryInstitutionL5] [varchar](35) NULL,
	[AccountwithInstitutionL1] [varchar](35) NULL,
	[AccountwithInstitutionL2] [varchar](35) NULL,
	[AccountwithInstitutionL3] [varchar](35) NULL,
	[AccountwithInstitutionL4] [varchar](35) NULL,
	[AccountwithInstitutionL5] [varchar](35) NULL,
	[BeneficiaryCustomerL1] [varchar](35) NULL,
	[BeneficiaryCustomerL2] [varchar](35) NULL,
	[BeneficiaryCustomerL3] [varchar](35) NULL,
	[BeneficiaryCustomerL4] [varchar](35) NULL,
	[BeneficiaryCustomerL5] [varchar](35) NULL,
	[RemittanceInformationL1] [varchar](35) NULL,
	[RemittanceInformationL2] [varchar](35) NULL,
	[RemittanceInformationL3] [varchar](35) NULL,
	[RemittanceInformationL4] [varchar](35) NULL,
	[RemittanceInformationL5] [varchar](35) NULL,
	[SendertoReceiverInformationL1] [varchar](35) NULL,
	[SendertoReceiverInformationL2] [varchar](35) NULL,
	[SendertoReceiverInformationL3] [varchar](35) NULL,
	[SendertoReceiverInformationL4] [varchar](35) NULL,
	[SendertoReceiverInformationL5] [varchar](35) NULL,
 CONSTRAINT [PK_SwiftData] PRIMARY KEY CLUSTERED 
(
	[InternalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_SwiftData_Source] UNIQUE NONCLUSTERED 
(
	[MessageId] ASC,
	[SequenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_AccountInformation_MessageId]    Script Date: 10/30/2020 2:35:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_AccountInformation_MessageId] ON [dbo].[AccountInformation]
(
	[MessageOrigin] ASC,
	[OrigineName] ASC,
	[IncomingOutGoing] ASC,
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Addenda_MessageId]    Script Date: 10/30/2020 2:35:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_Addenda_MessageId] ON [dbo].[Addenda]
(
	[MessageOrigin] ASC,
	[OrigineName] ASC,
	[IncomingOutGoing] ASC,
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FedMessageByTag_MessageId]    Script Date: 10/30/2020 2:35:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_FedMessageByTag_MessageId] ON [dbo].[FedMessageByTag]
(
	[MessageOrigin] ASC,
	[OrigineName] ASC,
	[IncomingOutGoing] ASC,
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FedMessageWire_MessageId]    Script Date: 10/30/2020 2:35:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_FedMessageWire_MessageId] ON [dbo].[FedMessageWire]
(
	[MessageOrigin] ASC,
	[OrigineName] ASC,
	[IncomingOutGoing] ASC,
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OriginatorOptionF_MessageId]    Script Date: 10/30/2020 2:35:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_OriginatorOptionF_MessageId] ON [dbo].[OriginatorOptionF]
(
	[MessageOrigin] ASC,
	[OrigineName] ASC,
	[IncomingOutGoing] ASC,
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [X_PartyAdviceInformation_MessageId]    Script Date: 10/30/2020 2:35:58 PM ******/
CREATE NONCLUSTERED INDEX [X_PartyAdviceInformation_MessageId] ON [dbo].[PartyAdviceInformation]
(
	[MessageOrigin] ASC,
	[OrigineName] ASC,
	[IncomingOutGoing] ASC,
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PartyInformation_MessageId]    Script Date: 10/30/2020 2:35:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_PartyInformation_MessageId] ON [dbo].[PartyInformation]
(
	[MessageOrigin] ASC,
	[OrigineName] ASC,
	[IncomingOutGoing] ASC,
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [X_PaymentNotification_MessageId]    Script Date: 10/30/2020 2:35:58 PM ******/
CREATE NONCLUSTERED INDEX [X_PaymentNotification_MessageId] ON [dbo].[PaymentNotification]
(
	[MessageOrigin] ASC,
	[OrigineName] ASC,
	[IncomingOutGoing] ASC,
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RawMessage_MessageId]    Script Date: 10/30/2020 2:35:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_RawMessage_MessageId] ON [dbo].[RawMessage]
(
	[MessageOrigin] ASC,
	[OrigineName] ASC,
	[IncomingOutGoing] ASC,
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [X_RelatedRemittanceInformation_MessageId]    Script Date: 10/30/2020 2:35:58 PM ******/
CREATE NONCLUSTERED INDEX [X_RelatedRemittanceInformation_MessageId] ON [dbo].[RelatedRemittanceInformation]
(
	[MessageOrigin] ASC,
	[OrigineName] ASC,
	[IncomingOutGoing] ASC,
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RemittanceDocumentData_MessageId]    Script Date: 10/30/2020 2:35:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_RemittanceDocumentData_MessageId] ON [dbo].[RemittanceDocumentData]
(
	[MessageOrigin] ASC,
	[OrigineName] ASC,
	[IncomingOutGoing] ASC,
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RemittanceDocumentInvoice_MessageId]    Script Date: 10/30/2020 2:35:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_RemittanceDocumentInvoice_MessageId] ON [dbo].[RemittanceDocumentInvoice]
(
	[MessageOrigin] ASC,
	[OrigineName] ASC,
	[IncomingOutGoing] ASC,
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceMessage_MessageId]    Script Date: 10/30/2020 2:35:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceMessage_MessageId] ON [dbo].[ServiceMessage]
(
	[MessageOrigin] ASC,
	[OrigineName] ASC,
	[IncomingOutGoing] ASC,
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SwiftData_MessageId]    Script Date: 10/30/2020 2:35:58 PM ******/
CREATE NONCLUSTERED INDEX [IX_SwiftData_MessageId] ON [dbo].[SwiftData]
(
	[MessageOrigin] ASC,
	[OrigineName] ASC,
	[IncomingOutGoing] ASC,
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccountInformation]  WITH CHECK ADD  CONSTRAINT [FK_AccountInformation_MessageId] FOREIGN KEY([MessageId])
REFERENCES [dbo].[FedMessageWire] ([MessageId])
GO
ALTER TABLE [dbo].[AccountInformation] CHECK CONSTRAINT [FK_AccountInformation_MessageId]
GO
ALTER TABLE [dbo].[Addenda]  WITH CHECK ADD  CONSTRAINT [FK_Addenda_MessageId] FOREIGN KEY([MessageId])
REFERENCES [dbo].[FedMessageWire] ([MessageId])
GO
ALTER TABLE [dbo].[Addenda] CHECK CONSTRAINT [FK_Addenda_MessageId]
GO
ALTER TABLE [dbo].[OriginatorOptionF]  WITH CHECK ADD  CONSTRAINT [FK_OriginatorOptionF_MessageId] FOREIGN KEY([MessageId])
REFERENCES [dbo].[FedMessageWire] ([MessageId])
GO
ALTER TABLE [dbo].[OriginatorOptionF] CHECK CONSTRAINT [FK_OriginatorOptionF_MessageId]
GO
ALTER TABLE [dbo].[PartyAdviceInformation]  WITH CHECK ADD  CONSTRAINT [FK_PartyAdviceInformation_MessageId] FOREIGN KEY([MessageId])
REFERENCES [dbo].[FedMessageWire] ([MessageId])
GO
ALTER TABLE [dbo].[PartyAdviceInformation] CHECK CONSTRAINT [FK_PartyAdviceInformation_MessageId]
GO
ALTER TABLE [dbo].[PartyInformation]  WITH CHECK ADD  CONSTRAINT [FK_PartyInformation_MessageId] FOREIGN KEY([MessageId])
REFERENCES [dbo].[FedMessageWire] ([MessageId])
GO
ALTER TABLE [dbo].[PartyInformation] CHECK CONSTRAINT [FK_PartyInformation_MessageId]
GO
ALTER TABLE [dbo].[PaymentNotification]  WITH CHECK ADD  CONSTRAINT [FK_PaymentNotification_MessageId] FOREIGN KEY([MessageId])
REFERENCES [dbo].[FedMessageWire] ([MessageId])
GO
ALTER TABLE [dbo].[PaymentNotification] CHECK CONSTRAINT [FK_PaymentNotification_MessageId]
GO
ALTER TABLE [dbo].[RelatedRemittanceInformation]  WITH CHECK ADD  CONSTRAINT [FK_RelatedRemittance_MessageId] FOREIGN KEY([MessageId])
REFERENCES [dbo].[FedMessageWire] ([MessageId])
GO
ALTER TABLE [dbo].[RelatedRemittanceInformation] CHECK CONSTRAINT [FK_RelatedRemittance_MessageId]
GO
ALTER TABLE [dbo].[RemittanceDocumentData]  WITH CHECK ADD  CONSTRAINT [FK_RemittanceDocumentData_MessageId] FOREIGN KEY([MessageId])
REFERENCES [dbo].[FedMessageWire] ([MessageId])
GO
ALTER TABLE [dbo].[RemittanceDocumentData] CHECK CONSTRAINT [FK_RemittanceDocumentData_MessageId]
GO
ALTER TABLE [dbo].[RemittanceDocumentInvoice]  WITH CHECK ADD  CONSTRAINT [FK_RemittanceDocumentInvoice_MessageId] FOREIGN KEY([MessageId])
REFERENCES [dbo].[FedMessageWire] ([MessageId])
GO
ALTER TABLE [dbo].[RemittanceDocumentInvoice] CHECK CONSTRAINT [FK_RemittanceDocumentInvoice_MessageId]
GO
ALTER TABLE [dbo].[ServiceMessage]  WITH CHECK ADD  CONSTRAINT [FK_ServiceMessage_MessageId] FOREIGN KEY([MessageId])
REFERENCES [dbo].[FedMessageWire] ([MessageId])
GO
ALTER TABLE [dbo].[ServiceMessage] CHECK CONSTRAINT [FK_ServiceMessage_MessageId]
GO
ALTER TABLE [dbo].[SwiftData]  WITH CHECK ADD  CONSTRAINT [FK_SwiftData_MessageId] FOREIGN KEY([MessageId])
REFERENCES [dbo].[FedMessageWire] ([MessageId])
GO
ALTER TABLE [dbo].[SwiftData] CHECK CONSTRAINT [FK_SwiftData_MessageId]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

USE [master]
GO
